{% extends "front.html" %}

{% load static %}


{% block links %}
<!-- PUT ANY CSS LINKS IN HERE -->
{% endblock links %}



{% block body %}
<!-- PUT YOUR BODY IN HERE -->
<!-- Here is my token
<span id="userTokenSpan"></span> -->
<div class="container space-top-2 space-bottom-3 space-bottom-lg-4">
    <div class="w-md-80 w-lg-50 text-center mx-md-auto">
      <h1 class="text-dark">Currently <span class="font-weight-semi-bold">unavailable</span></h1>
      <p class="lead">We are waiting to get approval for data. Follow @thatmusicapp for updates.</p>
    </div>
  </div>
{% endblock body %}




{% block scripts %}
<!-- PUT JS LINKS IN HERE -->
<!-- <script>
window.onload = (event) => {
  document.getElementById('userTokenSpan').innerHTML = localStorage.getItem('userToken')
}
</script> -->
{% endblock scripts %}
