{% extends "front.html" %}

{% load static %}


{% block links %}
<!-- PUT ANY CSS LINKS IN HERE -->
{% endblock links %}



{% block body %}
<!-- PUT YOUR BODY IN HERE -->
<body style="background-color: white;">
  <!-- Subscribe Section -->
<div class="bg-light">
  <div class="container space-2">
    <div class="row justify-content-center">
      <div class="col-md-9 col-lg-6">
        <!-- Title -->
        <div class="text-center mb-4">
          <h2 class="h1 font-weight-medium">@thatmusicapp</h2>
          <p>Go to Spotify and checkout your playlist. If it is not there, refresh the app and make sure you're online.</p>
        </div>
        <!-- End Title -->
      </div>
    </div>
  </div>
</div>
<!-- End Subscribe Section -->


</body>
{% endblock body %}




{% block scripts %}
<!-- PUT JS LINKS IN HERE -->
{% endblock scripts %}
