{% extends "front.html" %}

{% load static %}


{% block links %}
<!-- PUT ANY CSS LINKS IN HERE -->
{% endblock links %}



{% block body %}
<!-- PUT YOUR BODY IN HERE -->

<body style="background-color: white;">


 <div class="container">
    <div class="header">
      <div class="row">
        <div class="container">
          <h2 style="color: #5C2C92;">Enjoy your QT Wrapped!</h2>
        </div>
        

        </div>

      </div>
            

      </div>

<ul class="list-unstyled">
  <!-- Info Block -->
  <li class="u-indicator-steps py-3">
    <div class="media align-items-center border rounded p-5">
      <div class="row">
        <!-- <span class="display-4 text-primary font-weight-small"><img src="{% static "images/spotifyLogooo.jpg" %}" alt="logo" style="width:200px; display: inline-block;height:200px;"></span> -->
        <img class="img-fluid" src="{% static "assets/img/160x160/img15.png" %}" alt="Image Description">
      </div>
      <div class="row-8">
        
            <p>Proceed to the Spotify app and your playlist will appear under the name that you entered upon creation.</p>
            <a class="btn btn-sm btn-block btn-success" href="/authRedirect">Spotify</a>
       
        
      </div>
  </li>
  <!-- End Info Block -->

    <!-- Info Block -->
  <li class="u-indicator-steps py-3">

  <div class="media align-items-center border rounded p-5">
        <div class="row">
          <!-- <span class="display-4 text-primary font-weight-small"><img src="{% static "images/spotifyLogooo.jpg" %}" alt="logo" style="width:200px; display: inline-block;height:200px;"></span> -->
          <span class="display-4 text-primary font-weight-medium"><img src="{% static "images/budupmusicLogo.png" %}" alt="logo" style="width:80px; float:right; height:80px;"></span>
        </div>
        <div class="row-8">
          
              <p class="mb-0">If you experience issues, refresh the app and make sure you are online.</p>
              <a class="btn btn-sm btn-block btn-success" href="/authRedirect">Email Us</a>
         
        </div>
  </li>
  <!-- End Info Block -->

    
<!--B3B4B5 56BC7A 5C2C92 56BC66-->





</body>

{% endblock body %}




{% block scripts %}
<!-- PUT JS LINKS IN HERE -->
{% endblock scripts %}
