{% extends "front.html" %}

{% load static %}


{% block links %}
<!-- PUT ANY CSS LINKS IN HERE -->

{% endblock links %}



{% block body %}
<!-- PUT YOUR BODY IN HERE -->
<body class="gradient-half-primary-v2">


  <!-- PUT YOUR HOME IN HERE -->
 <div class="container">
    <div class="header">
    <nav class="nav nav-classic nav-shadow">
      <form id="topSongForm" action="/songs/" method="post">
      {% csrf_token %}
      <input type="hidden" name="token" value="{{ token }}">
      <a class="nav-item nav-link" href=# id="topSongButton" onclick="document.getElementById('topSongForm').submit();">Songs</a>
    </form>
      
      <form id="extractForm" action="/extractPlaylist/" method="post">
    {% csrf_token %}
    <input type="hidden" name="token" value="{{ token }}">
    <a href="#"class="nav-item nav-link active text-dark" id="extractPlaylistButton" onclick="document.getElementById('extractForm').submit();">Playlist</a>
  </form>

     <form id="topArtistForm" action="/artists/" method="post">
      {% csrf_token %}
      <input type="hidden" name="token" value="{{ token }}">
      <a href="#" class="nav-item nav-link" id="topArtistButton" onclick="document.getElementById('topArtistForm').submit();">Artists </a>
    </form>
    
  </nav>
    

      </div>
            

      </div>

  <div class="container">
    <form id="extractPlaylistForm" action="/exportPlaylist/" method="post" class="js-form-message">
      {% csrf_token %}
      <input type="hidden" name="token" value="{{ token }}">

      <!-- Subscribe Section -->
  <div class="position-relative space-bottom-2">
    <div class="container">
      <!-- Title -->
      <div class="text-center w-md-60 mx-auto mb-7">
        <h2 class ="text-warning;" class="text"><span class="font-weight-semi-bold">Save</span> your quarantine playlist</h2>
        <p>Give it a name and export and go check Spotify.</p>
      </div>
      <!-- End Title -->

      <!-- Subscribe Form -->
      <div class="w-md-50 w-lg-40 mx-auto">

          <div class="input-group input-group-lg input-group-borderless input-group-pill shadow-sm">
            <input class="form-control" name="playlist-name" placeholder="Playlist Name" required>
            <div class="input-group-append">
              <button class="btn btn-white" type="submit">
                <span class="fas fa-plus"></span>
              </button>
            </div>
          </div>

      </div>
      <!-- End Subscribe Form -->
    </div>


  </div>
  <!-- End Subscribe Section -->


      <div class="row">
        <div class="col-sm">
          <h3 class ="text-dark">Playlist</h3>

            {% for track in searchResults.items %}

            <ul class="list-group bg-transparent">
              <li class="list-group-item bg-transparent">
                <div class="row d-flex flex-wrap align-items-center">

                  <div class="col-2 col-lg-1 album-pic">
                      <img src="{{ track.album.images.2.url }}" width="90" height="90" alt="">
                  </div>

                  <div class="col-8 col-lg-9">
                    <div class="row">
                      <div class="col ml-6">
                        <a>{{ track.name }}</a>
                      </div>

                      <div class="col-12 ml-6">
                        <a>{{ track.artists.0.name }}</a>
                      </div>
                    </div>
                  </div>

              </li>

            </ul>
            {% endfor %}

        </div>

  </div>

    </form>




  </div>

</body>

{% endblock body %}




{% block scripts %}
<!-- PUT JS LINKS IN HERE -->
<!-- JS Implementing Plugins -->
<script src="{% static "assets/vendor/svg-injector/dist/svg-injector.min.js" %}"></script>
<script src="{% static "assets/vendor/jquery-validation/dist/jquery.validate.min.js" %}"></script>

<!-- JS Front -->
<script src="{% static "assets/js/components/hs.validation.js" %}"></script>
<script src="{% static "assets/js/components/hs.focus-state.js" %}"></script>
<script src="{% static "assets/js/components/hs.svg-injector.js" %}"></script>

<!-- JS Plugins Init. -->
<script>
  $(window).on('load', function () {
    // initialization of svg injector module
    $.HSCore.components.HSSVGIngector.init('.js-svg-injector');
  });

  $(document).on('ready', function () {
    // initialization of form validation
    $.HSCore.components.HSValidation.init('.js-validate', {
      rules: {
        confirmPassword: {
          equalTo: '#signupPassword'
        }
      }
    });


    // initialization of forms
    $.HSCore.components.HSFocusState.init();
  });
</script>
{% endblock scripts %}
