{% extends "front.html" %}

{% load static %}


{% block links %}
<!-- PUT ANY CSS LINKS IN HERE -->
<link rel="stylesheet" href="{% static "assets/vendor/flatpickr/dist/flatpickr.min.css" %}">
<link rel="stylesheet" href="{% static "assets/vendor/bootstrap-select/dist/css/bootstrap-select.min.css" %}">
{% endblock links %}



{% block body %}
<!-- PUT YOUR BODY IN HERE -->
{% csrf_token %}
<h1>Log into Spotify</h1>
<form  action="/authRedirect">
  <input type="submit" value="FUCK YOU SPOTIFY">
</form>


<h1>Log into Apple Music</h1>
<form  action="">
  <input type="submit" value="APPLE MUSIC IS WORSE THAN SPOTIFY">
</form>


{% endblock body %}




{% block scripts %}
<!-- PUT JS LINKS IN HERE -->
{% endblock scripts %}
