{% extends "front.html" %}

{% load static %}


{% block links %}
<!-- PUT ANY CSS LINKS IN HERE -->
<link rel="stylesheet" href="{% static "assets/vendor/flatpickr/dist/flatpickr.min.css" %}">
<link rel="stylesheet" href="{% static "assets/vendor/bootstrap-select/dist/css/bootstrap-select.min.css" %}">
<link rel="stylesheet" href="{% static "assets/vendor/slick-carousel/slick/slick.css" %}">
<link rel="stylesheet" href="{% static "assets/vendor/slick-carousel/slick/slick.css" %}">
<link rel="stylesheet" href="{% static "assets/vendor/fancybox/jquery.fancybox.css" %}">
<link rel="stylesheet" href="{% static "assets/vendor/slick-carousel/slick/slick.css" %}">
<link rel="stylesheet" href="{% static "assets/vendor/cubeportfolio/css/cubeportfolio.min.css" %}">
{% endblock links %}



{% block body %}
<!-- PUT YOUR BODY IN HERE -->
{% csrf_token %}


<body style="background-color: white;">
  <!-- <header>
    <div class="container">
      <div class="row">
        <img src="{% static "images/budupmusicLogo.png" %}" alt="logo" style="width:80px;height:80px; float:left;">
        <h1 style="float-right">BudUpMusic</h1>
      </div>
    </div>
    <a class="btn text-dark btn-white btn-pill btn-wide transition-3d-hover" href="/appleMusicAuth">Discover Now </a>

  </header> -->



  <!-- Hero Section -->
<div class="js-slick-carousel u-slick u-slick--equal-height"
     data-fade="true"
     data-infinite="true"
     data-autoplay="true"
     data-speed="10000"
     data-pagi-classes="text-center u-slick__pagination u-slick__pagination--white position-absolute right-0 bottom-0 left-0 mb-4 mb-0">

  <div class="js-slide gradient-overlay-half-dark-v1 bg-img-hero space-3 min-height-lg-100vh" style="background-image: url('https://townsquare.media/site/838/files/2020/05/rtj4.jpg?w=980&q=75');">
    <!-- Hero News -->
    <div class="container d-lg-flex align-items-lg-center">
      <article class="js-scroll-effect position-relative w-lg-60 text-center mx-lg-auto"
               data-scroll-effect="smoothFadeToBottom"
               data-scroll-effect-speed="500">
        
        <!-- Share Social Networks 
        <div data-scs-animation-in="fadeInUp">
          <ul class="list-inline mb-4">
            <li class="list-inline-item">
              <a class="btn btn-sm btn-icon btn-soft-light btn-bg-transparent rounded-circle" href="#">
                <span class="fab fa-facebook-f btn-icon__inner"></span>
              </a>
            </li>
            <li class="list-inline-item">
              <a class="btn btn-sm btn-icon btn-soft-light btn-bg-transparent rounded-circle" href="#">
                <span class="fab fa-google btn-icon__inner"></span>
              </a>
            </li>
            <li class="list-inline-item">
              <a class="btn btn-sm btn-icon btn-soft-light btn-bg-transparent rounded-circle" href="#">
                <span class="fab fa-twitter btn-icon__inner"></span>
              </a>
            </li>
            <li class="list-inline-item">
              <a class="btn btn-sm btn-icon btn-soft-light btn-bg-transparent rounded-circle" href="#">
                <span class="fab fa-github btn-icon__inner"></span>
              </a>
            </li>
          </ul>
        </div>
        -- End Share Social Networks --> 

        <!-- Info -->
        <div class="mb-4">
          <h1 class="text-white font-weight-semi-bold mb-3"
              data-scs-animation-in="fadeInUp">Discover what you listened to over quarantine</h1>
        </div>
        <a class="btn text-dark btn-white btn-pill btn-wide transition-3d-hover" href="/authRedirect"
           data-scs-animation-in="fadeInUp">Log in to Spotify </a>
        <!-- End Info -->
      </article>
    </div>
    <!-- End Hero News -->
  </div>

  <div class="js-slide gradient-overlay-half-dark-v1 bg-img-hero space-3 min-height-lg-100vh" style="background-image: url('https://upload.wikimedia.org/wikipedia/en/7/71/Future_-_High_Off_Life.png');">
    <!-- Hero News -->
    <div class="container d-lg-flex align-items-lg-center">
      <article class="js-scroll-effect position-relative w-lg-60 text-center mx-lg-auto"
               data-scroll-effect="smoothFadeToBottom"
               data-scroll-effect-speed="500">
        <!-- Share Social Networks 
        <div data-scs-animation-in="fadeInUp">
          <ul class="list-inline mb-4">
            <li class="list-inline-item">
              <a class="btn btn-sm btn-icon btn-soft-light btn-bg-transparent rounded-circle" href="#">
                <span class="fab fa-facebook-f btn-icon__inner"></span>
              </a>
            </li>
            <li class="list-inline-item">
              <a class="btn btn-sm btn-icon btn-soft-light btn-bg-transparent rounded-circle" href="#">
                <span class="fab fa-google btn-icon__inner"></span>
              </a>
            </li>
            <li class="list-inline-item">
              <a class="btn btn-sm btn-icon btn-soft-light btn-bg-transparent rounded-circle" href="#">
                <span class="fab fa-twitter btn-icon__inner"></span>
              </a>
            </li>
            <li class="list-inline-item">
              <a class="btn btn-sm btn-icon btn-soft-light btn-bg-transparent rounded-circle" href="#">
                <span class="fab fa-github btn-icon__inner"></span>
              </a>
            </li>
          </ul>
        </div>
        -- End Share Social Networks -->

        <!-- Info -->
        <div class="mb-4">
          <h2 class="h1 text-white font-weight-semi-bold mb-3"
              data-scs-animation-in="fadeInUp">Discover Your Top 5 Songs</h2>
        </div>
        <a class="btn text-dark btn-white btn-pill btn-wide transition-3d-hover" href="/authRedirect"
           data-scs-animation-in="fadeInUp">Log in to Spotify</a>
        <!-- End Info -->
      </article>
    </div>
    <!-- End Hero News -->
  </div>

  <div class="js-slide gradient-overlay-half-dark-v1 bg-img-hero space-3 min-height-lg-100vh" style="background-image: url('https://images.complex.com/complex/images/c_fill,dpr_auto,f_auto,q_90,w_1400/fl_lossy,pg_1/wktu1cpyyyayw8ygrxoy/drake-dark-lane-demo-tapes-album-cover');">
    <!-- Hero News -->
    <div class="container d-lg-flex align-items-lg-center">
      <article class="js-scroll-effect position-relative w-lg-60 text-center mx-lg-auto"
               data-scroll-effect="smoothFadeToBottom"
               data-scroll-effect-speed="500">
        <!-- Share Social Networks 
        <div data-scs-animation-in="fadeInUp">
          <ul class="list-inline mb-4">
            <li class="list-inline-item">
              <a class="btn btn-sm btn-icon btn-soft-light btn-bg-transparent rounded-circle" href="#">
                <span class="fab fa-facebook-f btn-icon__inner"></span>
              </a>
            </li>
            <li class="list-inline-item">
              <a class="btn btn-sm btn-icon btn-soft-light btn-bg-transparent rounded-circle" href="#">
                <span class="fab fa-google btn-icon__inner"></span>
              </a>
            </li>
            <li class="list-inline-item">
              <a class="btn btn-sm btn-icon btn-soft-light btn-bg-transparent rounded-circle" href="#">
                <span class="fab fa-twitter btn-icon__inner"></span>
              </a>
            </li>
            <li class="list-inline-item">
              <a class="btn btn-sm btn-icon btn-soft-light btn-bg-transparent rounded-circle" href="#">
                <span class="fab fa-github btn-icon__inner"></span>
              </a>
            </li>
          </ul>
        </div>
         End Share Social Networks -->

        <!-- Info -->
        <div class="mb-4">
          <h2 class="h1 text-white font-weight-semi-bold mb-3"
              data-scs-animation-in="fadeInUp">Export a Playlist with Your Top 50 Songs</h2>
          <p class="text-white-70 mb-7"
             data-scs-animation-in="fadeInUp"></p>
        </div>
        <a class="btn text-dark btn-white btn-pill btn-wide transition-3d-hover" href="/authRedirect"
           data-scs-animation-in="fadeInUp">Log in to Spotify</a>
        <!-- End Info -->
      </article>
    </div>
    <!-- End Hero News -->
  </div>

  <div class="js-slide gradient-overlay-half-dark-v1 bg-img-hero space-3 min-height-lg-100vh" style="background-image: url('https://www.atlanticrecords.com/sites/g/files/g2000003466/f/styles/latest-release-images/public/202006/Screen%20Shot%202020-06-08%20at%2011.06.29%20AM.png?itok=aM4HSWF7');">
    <!-- Hero News -->
    <div class="container d-lg-flex align-items-lg-center">
      <article class="js-scroll-effect position-relative w-lg-60 text-center mx-lg-auto"
               data-scroll-effect="smoothFadeToBottom"
               data-scroll-effect-speed="500">
        <!-- Share Social Networks 
        <div data-scs-animation-in="fadeInUp">
          <ul class="list-inline mb-4">
            <li class="list-inline-item">
              <a class="btn btn-sm btn-icon btn-soft-light btn-bg-transparent rounded-circle" href="#">
                <span class="fab fa-facebook-f btn-icon__inner"></span>
              </a>
            </li>
            <li class="list-inline-item">
              <a class="btn btn-sm btn-icon btn-soft-light btn-bg-transparent rounded-circle" href="#">
                <span class="fab fa-google btn-icon__inner"></span>
              </a>
            </li>
            <li class="list-inline-item">
              <a class="btn btn-sm btn-icon btn-soft-light btn-bg-transparent rounded-circle" href="#">
                <span class="fab fa-twitter btn-icon__inner"></span>
              </a>
            </li>
            <li class="list-inline-item">
              <a class="btn btn-sm btn-icon btn-soft-light btn-bg-transparent rounded-circle" href="#">
                <span class="fab fa-github btn-icon__inner"></span>
              </a>
            </li>
          </ul>
        </div>
        End Share Social Networks -->

        <!-- Info -->
        <div class="mb-4">
          <h1 class="text-white font-weight-semi-bold mb-3"
              data-scs-animation-in="fadeInUp">Discover Your Top 5 Artists</h1>
        </div>
        <a class="btn text-dark btn-white btn-pill btn-wide transition-3d-hover" href="/authRedirect"
           data-scs-animation-in="fadeInUp">Log in to Spotify</a>
        <!-- End Info -->
      </article>
    </div>
    <!-- End Hero News -->
  </div>

  <div class="js-slide gradient-overlay-half-dark-v1 bg-img-hero space-3 min-height-lg-100vh" style="background-image: url('https://upload.wikimedia.org/wikipedia/en/7/73/Trevor_Daniel_-_Falling.png');">
    <!-- Hero News -->
    <div class="container d-lg-flex align-items-lg-center">
      <article class="js-scroll-effect position-relative w-lg-60 text-center mx-lg-auto"
               data-scroll-effect="smoothFadeToBottom"
               data-scroll-effect-speed="500">

        <!-- Info -->
        <div class="mb-4">
          <h1 class="text-white font-weight-semi-bold mb-3"
              data-scs-animation-in="fadeInUp">Discover what you listened to over quarentine</h1>
        </div>
        <a class="btn text-dark btn-white btn-pill btn-wide transition-3d-hover" href="/authRedirect"
           data-scs-animation-in="fadeInUp">Discover Now </a>
        <!-- End Info -->
      </article>
    </div>
    <!-- End Hero News -->
  </div>

</div>
<!-- End Hero Section -->



  
    


        <!-- Share Social Networks 
        <div data-scs-animation-in="fadeInUp">
          <ul class="list-inline mb-4">
            <li class="list-inline-item">
              <a class="btn btn-sm btn-icon btn-soft-light btn-bg-transparent rounded-circle" href="#">
                <span class="fab fa-facebook-f btn-icon__inner"></span>
              </a>
            </li>
            <li class="list-inline-item">
              <a class="btn btn-sm btn-icon btn-soft-light btn-bg-transparent rounded-circle" href="#">
                <span class="fab fa-google btn-icon__inner"></span>
              </a>
            </li>
            <li class="list-inline-item">
              <a class="btn btn-sm btn-icon btn-soft-light btn-bg-transparent rounded-circle" href="#">
                <span class="fab fa-twitter btn-icon__inner"></span>
              </a>
            </li>
            <li class="list-inline-item">
              <a class="btn btn-sm btn-icon btn-soft-light btn-bg-transparent rounded-circle" href="#">
                <span class="fab fa-github btn-icon__inner"></span>
              </a>
            </li>
          </ul>
        </div>
         End Share Social Networks -->

        

  <!-- All the APIs
<div id="SVGheroBottomShape">
  <div class="container space-top-2 space-top-md-3">
    <div class="text-center">
      <span class="btn btn-xs btn-soft-success btn-pill mb-2">Integrations</span>
    </div>

    <!-- Slick Carousel
    <div class="js-slick-carousel u-slick u-slick--gutters-3 z-index-2"
         data-slides-show=""
         data-slides-scroll="1"
         data-pagi-classes="d-lg-none text-center u-slick__pagination mt-7 mb-0"
         data-responsive='[{
           "breakpoint": 1200,
           "settings": {
             "slidesToShow": 4
           }
         }, {
           "breakpoint": 992,
           "settings": {
             "slidesToShow": 3
           }
         }, {
           "breakpoint": 768,
           "settings": {
             "slidesToShow": 2
           }
         }, {
           "breakpoint": 480,
           "settings": {
             "slidesToShow": 1
           }
         }]'>

         <div class="js-slide mt-1">
           <!-- Icon Block
           <article class="card border-0 shadow-sm transition-3d-hover mb-3">
             <div class="card-body bg-success rounded-top p-5">
               <div class="u-avatar bg-white rounded p-2 mx-auto">
                 <img class="img-fluid" src="{% static "assets/img/160x160/img15.png" %}" alt="Image Description">
               </div>
             </div>
             <div class="card-body p-4">
               <div class="mb-3">
                 <h2 class="h6 mb-0">Spotify</h2>
                 <small class="d-block text-secondary">Connect Spotify to get your top music and playlist</small>
               </div>
               <a class="btn btn-sm btn-block btn-success" href="/authRedirect">Login</a>
             </div>
           </article>
           <!-- End Icon Block
         </div>

      <div class="js-slide mt-1">
        <!-- Icon Block
        <article class="card border-0 shadow-sm transition-3d-hover mb-3">
          <div class="card-body bg-secondary rounded-top p-5">
            <div class="u-avatar bg-white rounded p-2 mx-auto">
              <img class="img-fluid" src="{% static "images/appleMusicLogo1.png" %}" alt="Image Description">
            </div>
          </div>
          <div class="card-body p-4">
            <div class="mb-3">
              <h2 class="h6 mb-0">Apple Music</h2>
              <small class="d-block text-secondary">Sign in to make playlists with anyone and share music cross platform.</small>
            </div>
            <a class="btn btn-sm btn-block btn-secondary" href="#">Coming Soon!</a>
          </div>
        </article>
        <!-- End Icon Block
      </div>

      <div class="js-slide mt-1">
        <!-- Icon Block
        <article class="card border-0 shadow-sm transition-3d-hover mb-3">
          <div class="card-body rounded-top p-5" style="background: #ff7700">
            <div class="u-avatar bg-white rounded p-2 mx-auto">
              <img class="img-fluid" src="{% static "images/soundcloudLogo1.webp" %}" alt="Image Description">
            </div>
          </div>
          <div class="card-body p-4">
            <div class="mb-3">
              <h2 class="h6 mb-0">SoundCloud</h2>
              <small class="d-block text-secondary">Sign in to make playlists with anyone. Share/discover music that may not be on other services.</small>
            </div>
            <a class="btn btn-sm btn-block text-white" style="background: #ff7700" href="#">Coming Soon!</a>
          </div>
        </article>
        <!-- End Icon Block
      </div>

      <div class="js-slide mt-1">
        <!-- Icon Block
        <article class="card border-0 shadow-sm transition-3d-hover mb-3">
          <div class="card-body bg-danger rounded-top p-5">
            <div class="u-avatar bg-white rounded p-2 mx-auto">
              <img class="img-fluid" src="{% static "images/youtubeLogo.png" %}" alt="Image Description">
            </div>
          </div>
          <div class="card-body p-4">
            <div class="mb-3">
              <h2 class="h6 mb-0">YouTube Music</h2>
              <small class="d-block text-secondary">Sign in to share music with anyone. Share/discover your favirote music videos/mixes.</small>
            </div>
            <a class="btn btn-sm btn-block btn-danger" href="#">Coming Soon!</a>
          </div>
        </article>
        <!-- End Icon Block
      </div>


      <div class="js-slide mt-1">
        <!-- Icon Block
        <article class="card border-0 shadow-sm transition-3d-hover mb-3">
          <div class="card-body bg-secondary rounded-top p-5">
            <div class="u-avatar bg-white rounded p-2 mx-auto">
              <img class="img-fluid" src="{% static "images/discogsLogo2.png" %}" alt="Image Description">
            </div>
          </div>
          <div class="card-body p-4">
            <div class="mb-3">
              <h2 class="h6 mb-0">Discogs</h2>
              <small class="d-block text-secondary">Connect your discogs to share and stay up to date on all music.</small>
            </div>
            <a class="btn btn-sm btn-block btn-secondary" href="#">Coming Soon!</a>
          </div>
        </article>
        <!-- End Icon Block
      </div>

      <div class="js-slide mt-1">
        <!-- Icon Block
        <article class="card border-0 shadow-sm transition-3d-hover mb-3">
          <div class="card-body bg-secondary rounded-top p-5">
            <div class="u-avatar bg-white rounded p-2 mx-auto">
              <img class="img-fluid" src="{% static "images/billboardLogo2.jpg" %}" alt="Image Description">
            </div>
          </div>
          <div class="card-body p-4">
            <div class="mb-3">
              <h2 class="h6 mb-0">Billboard</h2>
              <small class="d-block text-secondary">Explore and get all your favirote years top charts in a playlist.</small>
            </div>
            <a class="btn btn-sm btn-block btn-secondary" href="#">Comning Soon!</a>
          </div>
        </article>
        <!-- End Icon Block
      </div>

      <div class="js-slide mt-1">
        <!-- Icon Block
        <article class="card border-0 shadow-sm transition-3d-hover mb-3">
          <div class="card-body bg-danger rounded-top p-5">
            <div class="u-avatar bg-white rounded p-2 mx-auto">
              <img class="img-fluid" src="{% static "images/songkickLogo.png" %}" alt="Image Description">
            </div>
          </div>
          <div class="card-body p-4">
            <div class="mb-3">
              <h2 class="h6 mb-0">Songkick</h2>
              <small class="d-block text-secondary">Never miss one of your favirote artists concerts</small>
            </div>
            <a class="btn btn-sm btn-block btn-danger" href="#">Comning Soon!</a>
          </div>
        </article>
        <!-- End Icon Block
      </div>

      <div class="js-slide mt-1">
        <!-- Icon Block
        <article class="card border-0 shadow-sm transition-3d-hover mb-3">
          <div class="card-body bg-danger rounded-top p-5">
            <div class="u-avatar bg-white rounded p-2 mx-auto">
              <img class="img-fluid" src="{% static "images/musixmatchLogo.jpeg"%}" alt="Image Description">
            </div>
          </div>
          <div class="card-body p-4">
            <div class="mb-3">
              <h2 class="h6 mb-0">Musixmatch</h2>
              <small class="d-block text-secondary">Get and share all your favirote songs lyrics.</small>
            </div>
            <a class="btn btn-sm btn-block btn-danger" href="#">Install</a>
          </div>
        </article>
        <!-- End Icon Block
      </div>

      <div class="js-slide mt-1">
        <!-- Icon Block
        <article class="card border-0 shadow-sm transition-3d-hover mb-3">
          <div class="card-body bg-dark rounded-top p-5">
            <div class="u-avatar bg-white rounded p-2 mx-auto">
              <img class="img-fluid" src="{% static "images/bandcampLogo2.jpg" %}" alt="Image Description">
            </div>
          </div>
          <div class="card-body p-4">
            <div class="mb-3">
              <h2 class="h6 mb-0">Bandcamp</h2>
              <small class="d-block text-secondary">Support all your favirote artists and see interesting music sales data</small>
            </div>
            <a class="btn btn-sm btn-block btn-dark" href="#">Install</a>
          </div>
        </article>
        <!-- End Icon Block
      </div>
    </div>
    <!-- End Slick Carousel
  </div>


</div>
<!-- All the APIs


<div class="container">
  <!-- FAQ
  <div class="text-center">
    <span class="btn btn-xs btn-soft-success btn-pill mb-2">FAQ</span>
  </div>
  <div id="basicsAccordion">
    <!-- Card
    <div class="card mb-3">
      <div class="card-header card-collapse" id="basicsHeadingOne">
        <h5 class="mb-0">
          <button type="button" class="btn btn-link btn-block d-flex justify-content-between card-btn p-3"
                  data-toggle="collapse"
                  data-target="#basicsCollapseOne"
                  aria-expanded="true"
                  aria-controls="basicsCollapseOne">
                  What is BudUp Music?

            <span class="card-btn-arrow">
              <span class="fas fa-arrow-down small"></span>
            </span>
          </button>
        </h5>
      </div>
      <div id="basicsCollapseOne" class="collapse show"
           aria-labelledby="basicsHeadingOne"
           data-parent="#basicsAccordion">
        <div class="card-body">
          BudUp Music is a platform developed to make the discovery of music more social and convenient. With different features, users can gain insight into their own listening patterns and share new content through collaborating across platforms and profiles.
        </div>
      </div>
    </div>
    <!-- End Card

    <!-- Card
    <div class="card mb-3">
      <div class="card-header card-collapse" id="basicsHeadingTwo">
        <h5 class="mb-0">
          <button type="button" class="btn btn-link btn-block d-flex justify-content-between card-btn collapsed p-3"
                  data-toggle="collapse"
                  data-target="#basicsCollapseTwo"
                  aria-expanded="false"
                  aria-controls="basicsCollapseTwo">
            What is to come after Quarantine Wrapped?

            <span class="card-btn-arrow">
              <span class="fas fa-arrow-down small"></span>
            </span>
          </button>
        </h5>
      </div>
      <div id="basicsCollapseTwo" class="collapse"
           aria-labelledby="basicsHeadingTwo"
           data-parent="#basicsAccordion">
        <div class="card-body">
          BudUpMusic has exciting plans for what is to come after Quarantine Wrapped. We are generating data on the top songs and artists for users, while also giving individuals the ability to input favorites. We aim to connect listeners across platforms and expand the music discovery experience.
        </div>
      </div>
    </div>
    <!-- End Card -->

    <!-- Card
    <div class="card mb-3">
      <div class="card-header card-collapse" id="basicsHeadingThree">
        <h5 class="mb-0">
          <button type="button" class="btn btn-link btn-block d-flex justify-content-between card-btn collapsed p-3"
                  data-toggle="collapse"
                  data-target="#basicsCollapseThree"
                  aria-expanded="false"
                  aria-controls="basicsCollapseThree">
            Is my information private?

            <span class="card-btn-arrow">
              <span class="fas fa-arrow-down small"></span>
            </span>
          </button>
        </h5>
      </div>
      <div id="basicsCollapseThree" class="collapse"
           aria-labelledby="basicsHeadingThree"
           data-parent="#basicsAccordion">
        <div class="card-body">
          By authenticating external accounts in BudUpMusic, you are given the option to view generated wraps based on your listening data, but BudUpMusic does not collect or save personal information.
        </div>
      </div>
    </div>
    <!-- End Card


  </div>
  <!-- END FAQ

</div>


  <!-- Contacts Form
  <div class="text-center">
    <span class="btn btn-xs btn-soft-success btn-pill mb-2">Contact Us</span>
  </div>
  <div class="p-3">
  <h2 class="text-center text-white font-weight-normal">
    Tell us about<br>
    <span style="color: #5C2C92;" class="text">
      <span class="u-text-animation-v2 u-text-animation-v2--typing"></span>
    </span>
  </h2>
</div>
<!-- End Contacts Form


<!-- Contacts
<div class="container">
  <!-- Contacts
            <div class="media mb-5">
              <span class="btn btn-icon btn-sm btn-soft-success rounded-circle mr-3">
                <span class="fas fa-phone btn-icon__inner"></span>
              </span>
              <div class="media-body">
                <h5 class="h6 font-weight-semi-bold mb-0">Tweet at us</h5>
                <span class="d-block text-secondary font-size-1">@budupmusic</span>
              </div>
            </div>
            <!-- End Contacts -->

            <!-- Contacts

              <div  class="media mb-5">
                <span class="btn btn-icon btn-sm btn-soft-success rounded-circle mr-3">
                  <span class="fas fa-envelope btn-icon__inner"></span>
                </span>
                <div class="media-body text-truncate">
                  <h5 class="h6 font-weight-semi-bold mb-0">Email Us</h5>
                  <span class="d-block text-secondary font-size-1">buduphiphop@gmail.com</span>
                </div>
              </div>



            <!-- End Contacts -->


              <!-- Contacts
              <div class="media">
                <span class="btn btn-icon btn-sm btn-soft-success rounded-circle mr-3">
                  <span class="fas fa-map-marker-alt btn-icon__inner"></span>
                </span>
                <div class="media-body">
                  <h5 class="h6 font-weight-semi-bold mb-0">Follow us on IG</h5>
                  <span class="d-block text-secondary font-size-1">@budupmusic</span>
                </div>
              </div>
              <!-- End Contacts




</div>






<!-- ========== FOOTER ==========
<footer class="bg-dark">
  <div class="container text-center space-2">
    <a class="d-inline-flex align-items-center mb-3" href="index.html" aria-label="Front">
      <img src="{% static "images/budupmusicLogo.png" %}" alt="logo" style="width:36px;height:36px;">
      <span class="brand brand-light">BudUpMusic</span>
    </a>
    <p class="small text-secondary">© BudUpMusic 2020 www.budupmusic.com. All rights reserved.</p>
  </div>
</footer>
<!-- ========== END FOOTER ==========

-->


</body>

{% endblock body %}




{% block scripts %}
<!-- PUT JS LINKS IN HERE -->

<!-- JS Implementing Plugins -->
<script src="{% static "assets/vendor/cubeportfolio/js/jquery.cubeportfolio.min.js" %}"></script>

<!-- JS Implementing Plugins -->
<script src="{% static "assets/js/components/hs.cubeportfolio.js" %}"></script>

<!-- JS Plugins Init. -->
<script>
  $(document).on('ready', function () {
    // initialization of cubeportfolio
    $.HSCore.components.HSCubeportfolio.init('.cbp');
  });
</script>


<!-- JS Implementing Plugins -->
<script src="{% static "assets/vendor/typed.js/lib/typed.min.js" %}"></script>

<!-- JS Plugins Init. -->
<script>
  $(document).on('ready', function () {
    // initialization of text animation (typing)
    var typed = new Typed(".u-text-animation-v2.u-text-animation-v2--typing", {
      strings: ["your favirote artists.", "your quarentine playlist.", "what you think of the idea."],
      typeSpeed: 60,
      loop: true,
      backSpeed: 25,
      backDelay: 1500
    });
  });
</script>

<!-- JS Implementing Plugins -->
<script src="{% static "assets/vendor/svg-injector/dist/svg-injector.min.js" %}"></script>
<script src="{% static "assets/vendor/slick-carousel/slick/slick.js" %}"></script>

<!-- JS Front -->
<script src="{% static "assets/js/components/hs.slick-carousel.js" %}"></script>
<script src="{% static "assets/js/components/hs.svg-injector.js" %}"></script>
<script src="{% static "assets/js/components/hs.go-to.js" %}"></script>

<!-- JS Plugins Init. -->
<script>
  $(window).on('load', function () {
    // initialization of svg injector module
    $.HSCore.components.HSSVGIngector.init('.js-svg-injector');
  });

  $(document).on('ready', function () {
    // initialization of slick carousel
    $.HSCore.components.HSSlickCarousel.init('.js-slick-carousel');

    // initialization of go to
    $.HSCore.components.HSGoTo.init('.js-go-to');
  });
</script>
<!-- JS Implementing Plugins -->
<script src="{% static "assets/vendor/slick-carousel/slick/slick.js" %}"></script>


<!-- JS Front -->
<script src="{% static "assets/js/components/hs.slick-carousel.js" %}"></script>
<script src="{% static "assets/js/components/hs.scroll-effect.js" %}"></script>

<!-- JS Plugins Init. -->
<script>
  $(document).on('ready', function () {
    // initialization of slick carousel
    $.HSCore.components.HSSlickCarousel.init('.js-slick-carousel');

    // initialization of scroll effect component
    $.HSCore.components.HSScrollEffect.init('.js-scroll-effect');
  });
</script>

<!-- JS Implementing Plugins -->
<script src="{% static "assets/vendor/jquery-validation/dist/jquery.validate.min.js"></script>

<!-- JS Front -->
<script src="{% static "assets/js/components/hs.validation.js"></script>

<!-- JS Plugins Init. -->
<script>
  $(document).on('ready', function () {
    // initialization of form validation
    $.HSCore.components.HSValidation.init('.js-validate');
  });
</script>

<!-- JS Implementing Plugins -->
<script src="{% static "assets/vendor/slick-carousel/slick/slick.js" %}"></script>
<script src="{% static "assets/vendor/svg-injector/dist/svg-injector.min.js" %}"></script>

<!-- JS Front -->
<script src="{% static "assets/js/components/hs.svg-injector.js" %}"></script>
<script src="{% static "assets/js/components/hs.slick.js" %}"></script>

<!-- JS Plugins Init. -->
<script>
  $(window).on('load', function () {
    // initialization of svg injector module
    $.HSCore.components.HSSVGIngector.init('.js-svg-injector');

    // initialization of slick carousel
    $.HSCore.components.HSSlickCarousel.init('.js-slick-carousel');
  });
</script>







{% endblock scripts %}
