{% extends "front.html" %}

{% load static %}


{% block links %}
<!-- PUT ANY CSS LINKS IN HERE -->
<link rel="stylesheet" href="{% static "assets/vendor/flatpickr/dist/flatpickr.min.css" %}">
<link rel="stylesheet" href="{% static "assets/vendor/bootstrap-select/dist/css/bootstrap-select.min.css" %}">
<link rel="stylesheet" href="{% static "assets/vendor/slick-carousel/slick/slick.css" %}">
<link rel="stylesheet" href="{% static "assets/vendor/slick-carousel/slick/slick.css" %}">
<link rel="stylesheet" href="{% static "assets/vendor/fancybox/jquery.fancybox.css" %}">
<link rel="stylesheet" href="{% static "assets/vendor/slick-carousel/slick/slick.css" %}">
<link rel="stylesheet" href="{% static "assets/vendor/cubeportfolio/css/cubeportfolio.min.css" %}">
{% endblock links %}



{% block body %}
<!-- PUT YOUR BODY IN HERE -->
{% csrf_token %}


<body style="background-color: black;">
  <header>
    <div class="container">
      <div class="row">
        <img src="{% static "images/budupmusicLogo.png" %}" alt="logo" style="width:80px;height:80px; float:left;">
        <h1 style="float-right">BudUpMusic</h1>
      </div>
    </div>

  </header>





  <!-- Hero Section -->
<div class="js-slick-carousel u-slick u-slick--equal-height"
     data-fade="true"
     data-infinite="true"
     data-autoplay="true"
     data-speed="10000"
     data-pagi-classes="text-center u-slick__pagination u-slick__pagination--white position-absolute right-0 bottom-0 left-0 mb-4 mb-0">

  <div class="js-slide gradient-overlay-half-dark-v1 bg-img-hero space-3 min-height-lg-100vh" style="background-image: url('https://townsquare.media/site/838/files/2020/05/rtj4.jpg?w=980&q=75');">
    <!-- Hero News -->
    <div class="container d-lg-flex align-items-lg-center">
      <article class="js-scroll-effect position-relative w-lg-60 text-center mx-lg-auto"
               data-scroll-effect="smoothFadeToBottom"
               data-scroll-effect-speed="500">
        <!-- Share Social Networks -->
        <div data-scs-animation-in="fadeInUp">
          <ul class="list-inline mb-4">
            <li class="list-inline-item">
              <a class="btn btn-sm btn-icon btn-soft-light btn-bg-transparent rounded-circle" href="#">
                <span class="fab fa-facebook-f btn-icon__inner"></span>
              </a>
            </li>
            <li class="list-inline-item">
              <a class="btn btn-sm btn-icon btn-soft-light btn-bg-transparent rounded-circle" href="#">
                <span class="fab fa-google btn-icon__inner"></span>
              </a>
            </li>
            <li class="list-inline-item">
              <a class="btn btn-sm btn-icon btn-soft-light btn-bg-transparent rounded-circle" href="#">
                <span class="fab fa-twitter btn-icon__inner"></span>
              </a>
            </li>
            <li class="list-inline-item">
              <a class="btn btn-sm btn-icon btn-soft-light btn-bg-transparent rounded-circle" href="#">
                <span class="fab fa-github btn-icon__inner"></span>
              </a>
            </li>
          </ul>
        </div>
        <!-- End Share Social Networks -->

        <!-- Info -->
        <div class="mb-4">
          <h1 class="text-white font-weight-semi-bold mb-3"
              data-scs-animation-in="fadeInUp">Discover what you listened to over quarentine</h1>
        </div>
        <a class="btn text-dark btn-white btn-pill btn-wide transition-3d-hover" href="../blog/single-article-classic.html"
           data-scs-animation-in="fadeInUp">Login Now </a>
        <!-- End Info -->
      </article>
    </div>
    <!-- End Hero News -->
  </div>

  <div class="js-slide gradient-overlay-half-dark-v1 bg-img-hero space-3 min-height-lg-100vh" style="background-image: url('https://upload.wikimedia.org/wikipedia/en/7/71/Future_-_High_Off_Life.png');">
    <!-- Hero News -->
    <div class="container d-lg-flex align-items-lg-center">
      <article class="js-scroll-effect position-relative w-lg-60 text-center mx-lg-auto"
               data-scroll-effect="smoothFadeToBottom"
               data-scroll-effect-speed="500">
        <!-- Share Social Networks -->
        <div data-scs-animation-in="fadeInUp">
          <ul class="list-inline mb-4">
            <li class="list-inline-item">
              <a class="btn btn-sm btn-icon btn-soft-light btn-bg-transparent rounded-circle" href="#">
                <span class="fab fa-facebook-f btn-icon__inner"></span>
              </a>
            </li>
            <li class="list-inline-item">
              <a class="btn btn-sm btn-icon btn-soft-light btn-bg-transparent rounded-circle" href="#">
                <span class="fab fa-google btn-icon__inner"></span>
              </a>
            </li>
            <li class="list-inline-item">
              <a class="btn btn-sm btn-icon btn-soft-light btn-bg-transparent rounded-circle" href="#">
                <span class="fab fa-twitter btn-icon__inner"></span>
              </a>
            </li>
            <li class="list-inline-item">
              <a class="btn btn-sm btn-icon btn-soft-light btn-bg-transparent rounded-circle" href="#">
                <span class="fab fa-github btn-icon__inner"></span>
              </a>
            </li>
          </ul>
        </div>
        <!-- End Share Social Networks -->

        <!-- Info -->
        <div class="mb-4">
          <h2 class="h1 text-white font-weight-semi-bold mb-3"
              data-scs-animation-in="fadeInUp">Listen to your quarentine playlist now</h2>
        </div>
        <a class="btn text-dark btn-white btn-pill btn-wide transition-3d-hover" href="../blog/single-article-classic.html"
           data-scs-animation-in="fadeInUp">Login to Spotify</a>
        <!-- End Info -->
      </article>
    </div>
    <!-- End Hero News -->
  </div>

  <div class="js-slide gradient-overlay-half-dark-v1 bg-img-hero space-3 min-height-lg-100vh" style="background-image: url('https://images.complex.com/complex/images/c_fill,dpr_auto,f_auto,q_90,w_1400/fl_lossy,pg_1/wktu1cpyyyayw8ygrxoy/drake-dark-lane-demo-tapes-album-cover');">
    <!-- Hero News -->
    <div class="container d-lg-flex align-items-lg-center">
      <article class="js-scroll-effect position-relative w-lg-60 text-center mx-lg-auto"
               data-scroll-effect="smoothFadeToBottom"
               data-scroll-effect-speed="500">
        <!-- Share Social Networks -->
        <div data-scs-animation-in="fadeInUp">
          <ul class="list-inline mb-4">
            <li class="list-inline-item">
              <a class="btn btn-sm btn-icon btn-soft-light btn-bg-transparent rounded-circle" href="#">
                <span class="fab fa-facebook-f btn-icon__inner"></span>
              </a>
            </li>
            <li class="list-inline-item">
              <a class="btn btn-sm btn-icon btn-soft-light btn-bg-transparent rounded-circle" href="#">
                <span class="fab fa-google btn-icon__inner"></span>
              </a>
            </li>
            <li class="list-inline-item">
              <a class="btn btn-sm btn-icon btn-soft-light btn-bg-transparent rounded-circle" href="#">
                <span class="fab fa-twitter btn-icon__inner"></span>
              </a>
            </li>
            <li class="list-inline-item">
              <a class="btn btn-sm btn-icon btn-soft-light btn-bg-transparent rounded-circle" href="#">
                <span class="fab fa-github btn-icon__inner"></span>
              </a>
            </li>
          </ul>
        </div>
        <!-- End Share Social Networks -->

        <!-- Info -->
        <div class="mb-4">
          <h2 class="h1 text-white font-weight-semi-bold mb-3"
              data-scs-animation-in="fadeInUp">Tree rings reveal increased fire risk for southwestern US</h2>
          <p class="text-white-70 mb-7"
             data-scs-animation-in="fadeInUp">Historical record points to climate patterns that could prime the region for an intense fire season.</p>
        </div>
        <a class="btn text-dark btn-white btn-pill btn-wide transition-3d-hover" href="../blog/single-article-classic.html"
           data-scs-animation-in="fadeInUp">Read More</a>
        <!-- End Info -->
      </article>
    </div>
    <!-- End Hero News -->
  </div>
</div>
<!-- End Hero Section -->



<!-- Features Section -->

<div class="container space-2 text-center">
  <div class="text-center">
    <span class="btn btn-xs btn-soft-success btn-pill mb-2">What we do?</span>
  </div>
  <div class="bg-dark position-relative pt-11 pb-7">

    <div class="bg-dark position-relative z-index-2 p-2 p-sm-0">
      <p class="lead text-white-70">Discovering music made <strong class="font-weight-semi-bold">easier</strong></p>
      <!-- News Carousel -->
      <div class="js-slick-carousel u-slick u-slick--equal-height u-slick--gutters-3 mb-5"
           data-slides-show="3"
           data-slides-scroll="1"
           data-pagi-classes="d-lg-none u-slick__pagination u-slick__pagination--white mt-5 mb-0"
           data-responsive='[{
             "breakpoint": 1200,
             "settings": {
               "slidesToShow": 3
             }
           }, {
             "breakpoint": 992,
             "settings": {
               "slidesToShow": 2
             }
           }, {
             "breakpoint": 768,
             "settings": {
               "slidesToShow": 2
             }
           }, {
             "breakpoint": 554,
             "settings": {
               "slidesToShow": 1
             }
           }]'>
        <!-- Card Block -->
        <div class="js-slide mt-1 mb-2">
          <div class="w-100 bg-white shadow-soft rounded py-6 px-4">
            <h3 class="h5 font-weight-semi-bold mb-5">Cross Platform</h3>

            <figure id="featuresSVG1" class="svg-preloader max-width-27 w-100 mx-auto mb-4">
              <img class="js-svg-injector" src="{% static "assets/svg/illustrations/server-woman.svg" %}" alt="Image Description"
                   data-parent="#featuresSVG1">
            </figure>

            <p>Communication in Front happens in channels, organized by project, topic, team, or whatever makes sense for you.</p>
          </div>
        </div>
        <!-- End Card Block -->

        <!-- Card Block -->
        <div class="js-slide mt-1 mb-2">
          <div class="w-100 bg-white shadow-soft rounded py-6 px-4">
            <h3 class="h5 font-weight-semi-bold mb-5">Exploration Hub</h3>

            <figure id="featuresSVG2" class="svg-preloader max-width-27 w-100 mx-auto mb-4">
              <img class="js-svg-injector" src="{% static "assets/svg/illustrations/full-stack.svg" %}" alt="Image Description"
                   data-parent="#featuresSVG2">
            </figure>

            <p>Front works with the tools and services you already use every day. Pipe in information or take action without leaving Front.</p>
          </div>
        </div>
        <!-- End Card Block -->

        <!-- Card Block -->
        <div class="js-slide mt-1 mb-2">
          <div class="w-100 bg-white shadow-soft rounded py-6 px-4">
            <h3 class="h5 font-weight-semi-bold mb-5">New Data</h3>

            <figure id="featuresSVG3" class="svg-preloader max-width-27 w-100 mx-auto mb-4">
              <img class="js-svg-injector" src="{% static "assets/svg/illustrations/business-woman.svg" %}" alt="Image Description"
                   data-parent="#featuresSVG3">
            </figure>

            <p>We take security seriously at Slack. We offer measures like 2FA and SSO to ensure the safety of your data and protect your organization.</p>
          </div>
        </div>
        <!-- End Card Block -->
      </div>

      <!-- Info -->
      <p class="text-white">
        Show your friends what you have been listening too.
        <a style="color: #5C2C92;" class="font-weight-medium" href="/authRedirect">
          Get your Quarentine Wrapped
          <span class="btn btn-icon btn-sm btn-white rounded-circle ml-2">
            <span class="fas fa-arrow-right btn-icon__inner"></span>
          </span>
        </a>
      </p>
      <!-- End Info -->
    </div>

    <!-- Background -->
    <div class="gradient-half-dark-v4 position-absolute top-0 right-0 bottom-0 left-0 rounded-lg mx-sm-7"></div>
  </div>
</div>
<!-- End Features Section -->


  <!-- All the APIs -->
<div id="SVGheroBottomShape">
  <div class="container space-top-2 space-top-md-3">
    <div class="text-center">
      <span class="btn btn-xs btn-soft-success btn-pill mb-2">Integrations</span>
    </div>

    <!-- Slick Carousel -->
    <div class="js-slick-carousel u-slick u-slick--gutters-3 z-index-2"
         data-slides-show="5"
         data-slides-scroll="1"
         data-pagi-classes="d-lg-none text-center u-slick__pagination mt-7 mb-0"
         data-responsive='[{
           "breakpoint": 1200,
           "settings": {
             "slidesToShow": 4
           }
         }, {
           "breakpoint": 992,
           "settings": {
             "slidesToShow": 3
           }
         }, {
           "breakpoint": 768,
           "settings": {
             "slidesToShow": 2
           }
         }, {
           "breakpoint": 480,
           "settings": {
             "slidesToShow": 1
           }
         }]'>

         <div class="js-slide mt-1">
           <!-- Icon Block -->
           <article class="card border-0 shadow-sm transition-3d-hover mb-3">
             <div class="card-body bg-success rounded-top p-5">
               <div class="u-avatar bg-white rounded p-2 mx-auto">
                 <img class="img-fluid" src="{% static "assets/img/160x160/img15.png" %}" alt="Image Description">
               </div>
             </div>
             <div class="card-body p-4">
               <div class="mb-3">
                 <h2 class="h6 mb-0">Spotify</h2>
                 <small class="d-block text-secondary">Streaming service</small>
               </div>
               <a class="btn btn-sm btn-block btn-primary" href="/authRedirect">Login</a>
             </div>
           </article>
           <!-- End Icon Block -->
         </div>

      <div class="js-slide mt-1">
        <!-- Icon Block -->
        <article class="card border-0 shadow-sm transition-3d-hover mb-3">
          <div class="card-body bg-secondary rounded-top p-5">
            <div class="u-avatar bg-white rounded p-2 mx-auto">
              <img class="img-fluid" src="{% static "images/appleMusicLogo1.png" %}" alt="Image Description">
            </div>
          </div>
          <div class="card-body p-4">
            <div class="mb-3">
              <h2 class="h6 mb-0">Apple Music</h2>
              <small class="d-block text-secondary">Productivity</small>
            </div>
            <a class="btn btn-sm btn-block btn-primary" href="#">Install</a>
          </div>
        </article>
        <!-- End Icon Block -->
      </div>

      <div class="js-slide mt-1">
        <!-- Icon Block -->
        <article class="card border-0 shadow-sm transition-3d-hover mb-3">
          <div class="card-body rounded-top p-5" style="background: #ff7700">
            <div class="u-avatar bg-white rounded p-2 mx-auto">
              <img class="img-fluid" src="{% static "images/soundcloudLogo1.webp" %}" alt="Image Description">
            </div>
          </div>
          <div class="card-body p-4">
            <div class="mb-3">
              <h2 class="h6 mb-0">SoundCloud</h2>
              <small class="d-block text-secondary">Collaboration tool</small>
            </div>
            <a class="btn btn-sm btn-block btn-primary" href="#">Install</a>
          </div>
        </article>
        <!-- End Icon Block -->
      </div>

      <div class="js-slide mt-1">
        <!-- Icon Block -->
        <article class="card border-0 shadow-sm transition-3d-hover mb-3">
          <div class="card-body bg-danger rounded-top p-5">
            <div class="u-avatar bg-white rounded p-2 mx-auto">
              <img class="img-fluid" src="{% static "images/youtubeLogo.png" %}" alt="Image Description">
            </div>
          </div>
          <div class="card-body p-4">
            <div class="mb-3">
              <h2 class="h6 mb-0">YouTube Music</h2>
              <small class="d-block text-secondary">Productivity</small>
            </div>
            <a class="btn btn-sm btn-block btn-primary" href="#">Install</a>
          </div>
        </article>
        <!-- End Icon Block -->
      </div>


      <div class="js-slide mt-1">
        <!-- Icon Block -->
        <article class="card border-0 shadow-sm transition-3d-hover mb-3">
          <div class="card-body bg-secondary rounded-top p-5">
            <div class="u-avatar bg-white rounded p-2 mx-auto">
              <img class="img-fluid" src="{% static "images/discogsLogo2.png" %}" alt="Image Description">
            </div>
          </div>
          <div class="card-body p-4">
            <div class="mb-3">
              <h2 class="h6 mb-0">Discogs</h2>
              <small class="d-block text-secondary">Everything Music</small>
            </div>
            <a class="btn btn-sm btn-block btn-primary" href="#">Install</a>
          </div>
        </article>
        <!-- End Icon Block -->
      </div>

      <div class="js-slide mt-1">
        <!-- Icon Block -->
        <article class="card border-0 shadow-sm transition-3d-hover mb-3">
          <div class="card-body bg-white rounded-top p-5">
            <div class="u-avatar bg-white rounded p-2 mx-auto">
              <img class="img-fluid" src="{% static "images/billboardLogo4.we" %}" alt="Image Description">
            </div>
          </div>
          <div class="card-body p-4">
            <div class="mb-3">
              <h2 class="h6 mb-0">Billboard</h2>
              <small class="d-block text-secondary">Cloud infrastructure</small>
            </div>
            <a class="btn btn-sm btn-block btn-primary" href="#">Install</a>
          </div>
        </article>
        <!-- End Icon Block -->
      </div>

      <div class="js-slide mt-1">
        <!-- Icon Block -->
        <article class="card border-0 shadow-sm transition-3d-hover mb-3">
          <div class="card-body bg-primary rounded-top p-5">
            <div class="u-avatar bg-white rounded p-2 mx-auto">
              <img class="img-fluid" src="../../assets/img/160x160/img16.png" alt="Image Description">
            </div>
          </div>
          <div class="card-body p-4">
            <div class="mb-3">
              <h2 class="h6 mb-0">Songkick</h2>
              <small class="d-block text-secondary">Upcoming concerts</small>
            </div>
            <a class="btn btn-sm btn-block btn-primary" href="#">Install</a>
          </div>
        </article>
        <!-- End Icon Block -->
      </div>

      <div class="js-slide mt-1">
        <!-- Icon Block -->
        <article class="card border-0 shadow-sm transition-3d-hover mb-3">
          <div class="card-body bg-primary rounded-top p-5">
            <div class="u-avatar bg-white rounded p-2 mx-auto">
              <img class="img-fluid" src="../../assets/img/160x160/img16.png" alt="Image Description">
            </div>
          </div>
          <div class="card-body p-4">
            <div class="mb-3">
              <h2 class="h6 mb-0">Musixmatch</h2>
              <small class="d-block text-secondary">All your lyrics</small>
            </div>
            <a class="btn btn-sm btn-block btn-primary" href="#">Install</a>
          </div>
        </article>
        <!-- End Icon Block -->
      </div>

      <div class="js-slide mt-1">
        <!-- Icon Block -->
        <article class="card border-0 shadow-sm transition-3d-hover mb-3">
          <div class="card-body bg-primary rounded-top p-5">
            <div class="u-avatar bg-white rounded p-2 mx-auto">
              <img class="img-fluid" src="../../assets/img/160x160/img16.png" alt="Image Description">
            </div>
          </div>
          <div class="card-body p-4">
            <div class="mb-3">
              <h2 class="h6 mb-0">Bandcamp</h2>
              <small class="d-block text-secondary">Support artists and track sales</small>
            </div>
            <a class="btn btn-sm btn-block btn-primary" href="#">Install</a>
          </div>
        </article>
        <!-- End Icon Block -->
      </div>
    </div>
    <!-- End Slick Carousel -->
  </div>


</div>
<!-- All the APIs -->

<p class="text-center lead text-white-70">Follow the insta @BudUpMusic</p>

<!-- Cubeportfolio Section -->
<div class="container u-cubeportfolio">
  <div class="text-center">
    <span class="btn btn-xs btn-soft-success btn-pill mb-2">Instagram</span>
  </div>

  <!-- Content -->
  <div class="cbp mb-7"
        data-controls="#cubeFilter"
        data-animation="quicksand"
        data-x-gap="16"
        data-y-gap="16"
        data-load-more-selector="#cubeLoadMore"
        data-load-more-action="auto"
        data-load-items-amount="2"
        data-media-queries='[
          {"width": 1500, "cols": 4},
          {"width": 1100, "cols": 4},
          {"width": 800, "cols": 3},
          {"width": 480, "cols": 2},
          {"width": 300, "cols": 1}
        ]'>
    <!-- Item -->
    <div class="cbp-item rounded abstract">
      <div class="cbp-caption">
        <a class="cbp-lightbox u-media-viewer" href="{% static "assets/img/1920x1920/img2.jpg" %}" data-title="Dashboard<br>by Paul Flavius">
          <img src="{% static "assets/img/500x700/img1.jpg" %}" alt="Image Description">
          <span class="u-media-viewer__container">
            <span class="u-media-viewer__icon">
              <span class="fas fa-plus u-media-viewer__icon-inner"></span>
            </span>
          </span>
        </a>
      </div>
    </div>
    <!-- End Item -->

    <!-- Item -->
    <div class="cbp-item rounded branding">
      <div class="cbp-caption">
        <a class="cbp-lightbox u-media-viewer" href="{% static "assets/img/1920x1080/img9.jpg" %}" data-title="World Clock<br>by Alex">
          <img src="{% static "assets/img/480x320/img1.jpg" %}" alt="Image Description">
          <span class="u-media-viewer__container">
            <span class="u-media-viewer__icon">
              <span class="fas fa-plus u-media-viewer__icon-inner"></span>
            </span>
          </span>
        </a>
      </div>
    </div>
    <!-- End Item -->

    <!-- Item -->
    <div class="cbp-item rounded abstract">
      <div class="cbp-caption">
        <a class="cbp-lightbox u-media-viewer" href="{% static "assets/img/1920x1920/img10.jpg" %}" data-title="To-Do Dashboard<br>by Tiberiu Neamu">
          <img src="{% static "assets/img/500x700/img5.jpg" %}" alt="Image Description">
          <span class="u-media-viewer__container">
            <span class="u-media-viewer__icon">
              <span class="fas fa-plus u-media-viewer__icon-inner"></span>
            </span>
          </span>
        </a>
      </div>
    </div>
    <!-- End Item -->

    <!-- Item -->
    <div class="cbp-item rounded branding">
      <div class="cbp-caption">
        <a class="cbp-lightbox u-media-viewer" href="{% static "assets/img/1920x1920/img4.jpg" %}" data-title="Events and  More<br>by Tiberiu Neamu">
          <img src="{% static "assets/img/450x450/img7.jpg" %}" alt="Image Description">
          <span class="u-media-viewer__container">
            <span class="u-media-viewer__icon">
              <span class="fas fa-plus u-media-viewer__icon-inner"></span>
            </span>
          </span>
        </a>
      </div>
    </div>
    <!-- End Item -->

    <!-- Item -->
    <div class="cbp-item rounded abstract branding">
      <div class="cbp-caption">
        <a class="cbp-lightbox u-media-viewer" href="{% static "assets/img/1920x1080/img10.jpg" %}" data-title="Ski * Buddy<br>by Tiberiu Neamu">
          <img src="{% static "assets/img/480x320/img2.jpg" %}" alt="Image Description">
          <span class="u-media-viewer__container">
            <span class="u-media-viewer__icon">
              <span class="fas fa-plus u-media-viewer__icon-inner"></span>
            </span>
          </span>
        </a>
      </div>
    </div>
    <!-- End Item -->
  </div>
  <!-- End Content -->

  <!-- Load More Button -->
  <div id="cubeLoadMore" class="text-center">
    <a href="{% static "assets/ajax/home-portfolio-business-1/load-more.html" %}" class="cbp-l-loadMore-link link" rel="nofollow">
      <span class="cbp-l-loadMore-defaultText">
        Load More
        <span class="link__icon ml-1">
          <span class="link__icon-inner">+</span>
        </span>
      </span>
      <span class="cbp-l-loadMore-loadingText">Loading...</span>
      <span class="cbp-l-loadMore-noMoreLoading">All pictures loaded</span>
    </a>
  </div>
  <!-- End Load More Button -->
</div>
<!-- End Cubeportfolio Section -->

<div class="container">
  <!-- FAQ  -->
  <div class="text-center">
    <span class="btn btn-xs btn-soft-success btn-pill mb-2">FAQ</span>
  </div>
  <div id="basicsAccordion">
    <!-- Card -->
    <div class="card mb-3">
      <div class="card-header card-collapse" id="basicsHeadingOne">
        <h5 class="mb-0">
          <button type="button" class="btn btn-link btn-block d-flex justify-content-between card-btn p-3"
                  data-toggle="collapse"
                  data-target="#basicsCollapseOne"
                  aria-expanded="true"
                  aria-controls="basicsCollapseOne">
            Do you have any built-in caching?

            <span class="card-btn-arrow">
              <span class="fas fa-arrow-down small"></span>
            </span>
          </button>
        </h5>
      </div>
      <div id="basicsCollapseOne" class="collapse show"
           aria-labelledby="basicsHeadingOne"
           data-parent="#basicsAccordion">
        <div class="card-body">
          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
        </div>
      </div>
    </div>
    <!-- End Card -->

    <!-- Card -->
    <div class="card mb-3">
      <div class="card-header card-collapse" id="basicsHeadingTwo">
        <h5 class="mb-0">
          <button type="button" class="btn btn-link btn-block d-flex justify-content-between card-btn collapsed p-3"
                  data-toggle="collapse"
                  data-target="#basicsCollapseTwo"
                  aria-expanded="false"
                  aria-controls="basicsCollapseTwo">
            Can I add/upgrade my plan at any time?

            <span class="card-btn-arrow">
              <span class="fas fa-arrow-down small"></span>
            </span>
          </button>
        </h5>
      </div>
      <div id="basicsCollapseTwo" class="collapse"
           aria-labelledby="basicsHeadingTwo"
           data-parent="#basicsAccordion">
        <div class="card-body">
          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
        </div>
      </div>
    </div>
    <!-- End Card -->

    <!-- Card -->
    <div class="card mb-3">
      <div class="card-header card-collapse" id="basicsHeadingThree">
        <h5 class="mb-0">
          <button type="button" class="btn btn-link btn-block d-flex justify-content-between card-btn collapsed p-3"
                  data-toggle="collapse"
                  data-target="#basicsCollapseThree"
                  aria-expanded="false"
                  aria-controls="basicsCollapseThree">
            What access comes with my hosting plan?

            <span class="card-btn-arrow">
              <span class="fas fa-arrow-down small"></span>
            </span>
          </button>
        </h5>
      </div>
      <div id="basicsCollapseThree" class="collapse"
           aria-labelledby="basicsHeadingThree"
           data-parent="#basicsAccordion">
        <div class="card-body">
          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
        </div>
      </div>
    </div>
    <!-- End Card -->

    <!-- Card -->
    <div class="card mb-3">
      <div class="card-header card-collapse" id="basicsHeadingFour">
        <h5 class="mb-0">
          <button type="button" class="btn btn-link btn-block d-flex justify-content-between card-btn collapsed p-3"
                  data-toggle="collapse"
                  data-target="#basicsCollapseFour"
                  aria-expanded="false"
                  aria-controls="basicsCollapseFour">
            How do I change my password?

            <span class="card-btn-arrow">
              <span class="fas fa-arrow-down small"></span>
            </span>
          </button>
        </h5>
      </div>
      <div id="basicsCollapseFour" class="collapse"
           aria-labelledby="basicsHeadingFour"
           data-parent="#basicsAccordion">
        <div class="card-body">
          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
        </div>
      </div>
    </div>
    <!-- End Card -->
  </div>
  <!-- END FAQ -->

</div>



<!-- Title -->
<div class="w-md-80 w-lg-50 text-center mx-md-auto mb-9">
  <h1 style="color: #5C2C92;" class="display-4 font-size-md-down-5" >Quarentine <strong class="font-weight-semi-bold">Wrapped</strong></h1>
  <p class="lead text-white-70">Cmon I know you want this playlist</p>
  <a style="color: #5C2C92;" class="btn btn-white btn-pill btn-wide transition-3d-hover" href=""
       data-scs-animation-in="fadeInUp">Explore Now</a>
</div>
<!-- End Title -->

<!-- Team Section -->
<div class="text-center">
  <span class="btn btn-xs btn-soft-success btn-pill mb-2">Meet the squad</span>
</div>
<div class="container">
<div class="row mx-n2">
  <div class="col-sm-6 col-lg-3 px-2 mb-3">
    <!-- Team -->
    <div class="card shadow transition-3d-hover p-4">
      <div class="u-lg-avatar mb-4">
        <img class="img-fluid rounded-circle" src="{% static "assets/img/100x100/img1.jpg" %}" alt="Image Description">
      </div>

      <small class="d-block text-secondary text-uppercase mb-1">Founder / CEO</small>
      <h4 class="h5 text-lh-sm">Maria Muszynska</h4>
      <p class="font-size-1">I am an ambitious workaholic, but apart from that, pretty simple person.</p>

      <!-- Social Networks -->
      <ul class="list-inline mb-0">
        <li class="list-inline-item">
          <a class="btn btn-sm btn-icon btn-soft-secondary rounded" href="#">
            <span class="fab fa-facebook-f btn-icon__inner"></span>
          </a>
        </li>
        <li class="list-inline-item">
          <a class="btn btn-sm btn-icon btn-soft-secondary rounded" href="#">
            <span class="fab fa-google btn-icon__inner"></span>
          </a>
        </li>
        <li class="list-inline-item">
          <a class="btn btn-sm btn-icon btn-soft-secondary rounded" href="#">
            <span class="fab fa-twitter btn-icon__inner"></span>
          </a>
        </li>
      </ul>
      <!-- End Social Networks -->
    </div>
    <!-- End Team -->
  </div>

  <div class="col-sm-6 col-lg-3 px-2 mb-3">
    <!-- Team -->
    <div class="card shadow transition-3d-hover p-4">
      <div class="u-lg-avatar mb-4">
        <img class="img-fluid rounded-circle" src="{% static "assets/img/100x100/img3.jpg" %}" alt="Image Description">
      </div>

      <small class="d-block text-secondary text-uppercase mb-1">Project Manager</small>
      <h4 class="h5 text-lh-sm">Jack Wayley</h4>
      <p class="font-size-1">I am an ambitious workaholic, but apart from that, pretty simple person.</p>

      <!-- Social Networks -->
      <ul class="list-inline mb-0">
        <li class="list-inline-item">
          <a class="btn btn-sm btn-icon btn-soft-secondary rounded" href="#">
            <span class="fab fa-facebook-f btn-icon__inner"></span>
          </a>
        </li>
        <li class="list-inline-item">
          <a class="btn btn-sm btn-icon btn-soft-secondary rounded" href="#">
            <span class="fab fa-google btn-icon__inner"></span>
          </a>
        </li>
        <li class="list-inline-item">
          <a class="btn btn-sm btn-icon btn-soft-secondary rounded" href="#">
            <span class="fab fa-twitter btn-icon__inner"></span>
          </a>
        </li>
      </ul>
      <!-- End Social Networks -->
    </div>
    <!-- End Team -->
  </div>

  <div class="col-sm-6 col-lg-3 px-2 mb-3 mb-sm-0">
    <!-- Team -->
    <div class="card shadow transition-3d-hover p-4">
      <div class="u-lg-avatar mb-4">
        <img class="img-fluid rounded-circle" src="{% static "assets/img/100x100/img11.jpg" %}" alt="Image Description">
      </div>

      <small class="d-block text-secondary text-uppercase mb-1">Product Designer</small>
      <h4 class="h5 text-lh-sm">Emmely Jackson</h4>
      <p class="font-size-1">I am an ambitious workaholic, but apart from that, pretty simple person.</p>

      <!-- Social Networks -->
      <ul class="list-inline mb-0">
        <li class="list-inline-item">
          <a class="btn btn-sm btn-icon btn-soft-secondary rounded" href="#">
            <span class="fab fa-facebook-f btn-icon__inner"></span>
          </a>
        </li>
        <li class="list-inline-item">
          <a class="btn btn-sm btn-icon btn-soft-secondary rounded" href="#">
            <span class="fab fa-google btn-icon__inner"></span>
          </a>
        </li>
        <li class="list-inline-item">
          <a class="btn btn-sm btn-icon btn-soft-secondary rounded" href="#">
            <span class="fab fa-twitter btn-icon__inner"></span>
          </a>
        </li>
      </ul>
      <!-- End Social Networks -->
    </div>
    <!-- End Team -->
  </div>

  <div class="col-sm-6 col-lg-3 px-2">

  </div>
</div>
</div>
<!-- End Team Section -->



  <!-- Contacts Form -->
  <div class="text-center">
    <span class="btn btn-xs btn-soft-success btn-pill mb-2">Contact Us</span>
  </div>
  <div class="p-3">
  <h2 class="text-center text-white font-weight-normal">
    Tell us about<br>
    <span class="text-warning">
      <span class="u-text-animation-v2 u-text-animation-v2--typing"></span>
    </span>
  </h2>
</div>
<!-- End Contacts Form -->



<!-- ========== FOOTER ========== -->
<footer class="bg-dark">
  <div class="container text-center space-2">
    <a class="d-inline-flex align-items-center mb-3" href="index.html" aria-label="Front">
      <img src="{% static "images/budupmusicLogo.png" %}" alt="logo" style="width:36px;height:36px;">
      <span class="brand brand-light">BudUpMusic</span>
    </a>
    <p class="small text-secondary">© Front. 2019 Htmlstream. All rights reserved.</p>
  </div>
</footer>
<!-- ========== END FOOTER ========== -->




</body>

{% endblock body %}




{% block scripts %}
<!-- PUT JS LINKS IN HERE -->

<!-- JS Implementing Plugins -->
<script src="{% static "assets/vendor/cubeportfolio/js/jquery.cubeportfolio.min.js" %}"></script>

<!-- JS Implementing Plugins -->
<script src="{% static "assets/js/components/hs.cubeportfolio.js" %}"></script>

<!-- JS Plugins Init. -->
<script>
  $(document).on('ready', function () {
    // initialization of cubeportfolio
    $.HSCore.components.HSCubeportfolio.init('.cbp');
  });
</script>


<!-- JS Implementing Plugins -->
<script src="{% static "assets/vendor/typed.js/lib/typed.min.js" %}"></script>

<!-- JS Plugins Init. -->
<script>
  $(document).on('ready', function () {
    // initialization of text animation (typing)
    var typed = new Typed(".u-text-animation-v2.u-text-animation-v2--typing", {
      strings: ["building brands.", "dealing with complexity.", "win more business."],
      typeSpeed: 60,
      loop: true,
      backSpeed: 25,
      backDelay: 1500
    });
  });
</script>

<!-- JS Implementing Plugins -->
<script src="{% static "assets/vendor/svg-injector/dist/svg-injector.min.js" %}"></script>
<script src="{% static "assets/vendor/slick-carousel/slick/slick.js" %}"></script>

<!-- JS Front -->
<script src="{% static "assets/js/components/hs.slick-carousel.js" %}"></script>
<script src="{% static "assets/js/components/hs.svg-injector.js" %}"></script>
<script src="{% static "assets/js/components/hs.go-to.js" %}"></script>

<!-- JS Plugins Init. -->
<script>
  $(window).on('load', function () {
    // initialization of svg injector module
    $.HSCore.components.HSSVGIngector.init('.js-svg-injector');
  });

  $(document).on('ready', function () {
    // initialization of slick carousel
    $.HSCore.components.HSSlickCarousel.init('.js-slick-carousel');

    // initialization of go to
    $.HSCore.components.HSGoTo.init('.js-go-to');
  });
</script>
<!-- JS Implementing Plugins -->
<script src="{% static "assets/vendor/slick-carousel/slick/slick.js" %}"></script>


<!-- JS Front -->
<script src="{% static "assets/js/components/hs.slick-carousel.js" %}"></script>
<script src="{% static "assets/js/components/hs.scroll-effect.js" %}"></script>

<!-- JS Plugins Init. -->
<script>
  $(document).on('ready', function () {
    // initialization of slick carousel
    $.HSCore.components.HSSlickCarousel.init('.js-slick-carousel');

    // initialization of scroll effect component
    $.HSCore.components.HSScrollEffect.init('.js-scroll-effect');
  });
</script>

<!-- JS Implementing Plugins -->
<script src="{% static "assets/vendor/jquery-validation/dist/jquery.validate.min.js"></script>

<!-- JS Front -->
<script src="{% static "assets/js/components/hs.validation.js"></script>

<!-- JS Plugins Init. -->
<script>
  $(document).on('ready', function () {
    // initialization of form validation
    $.HSCore.components.HSValidation.init('.js-validate');
  });
</script>

<!-- JS Implementing Plugins -->
<script src="{% static "assets/vendor/slick-carousel/slick/slick.js" %}"></script>
<script src="{% static "assets/vendor/svg-injector/dist/svg-injector.min.js" %}"></script>

<!-- JS Front -->
<script src="{% static "assets/js/components/hs.svg-injector.js" %}"></script>
<script src="{% static "assets/js/components/hs.slick.js" %}"></script>

<!-- JS Plugins Init. -->
<script>
  $(window).on('load', function () {
    // initialization of svg injector module
    $.HSCore.components.HSSVGIngector.init('.js-svg-injector');

    // initialization of slick carousel
    $.HSCore.components.HSSlickCarousel.init('.js-slick-carousel');
  });
</script>







{% endblock scripts %}
