{% extends "front.html" %}

{% load static %}


{% block links %}
<!-- PUT ANY CSS LINKS IN HERE -->
<script type="text/javascript">


</script>
{% endblock links %}



{% block body %}
<!-- PUT YOUR BODY IN HERE -->

<div class="container">
  <h2>Current Playlists</h2>
  <div class="row">
    <div class="col">
      <h3>Playlist Name</h3>
    </div>
</div>
<ul class="list-group" style="max-height:75vh; overflow:scroll">
{% for playlist in playlists %}
  <li class="list-group-item">
    <div class="row">
      <div class="col">
        <p id="playlistName">{{ playlist.playlist_name}}</p>
      </div>

        <div class="col">
          <button  class="btn btn-dark" style="background-color: #67009a" onclick="sendUploadRequest('{{ playlist.playlist_name}}')" >Upload</button>
        </div>


    </div>
  </li>
{% endfor %}
</ul>

  <h2>Create New Playlist</h2>

  <form action="/playlists/" method="post">
    {% csrf_token %}
    <div class="input-group">
      <input type="text" name="playlist-name" class="form-control" placeholder="Enter playlist name ">
      <button type="submit" class="btn btn-success" name="create-playlist">Create</button>

    </div>

  </form>

</div>

<!-- Cubeportfolio Section -->
<div class="container u-cubeportfolio">
  <div class="text-center">
    <span class="btn btn-xs btn-soft-success btn-pill mb-2">Instagram</span>
  </div>

  <!-- Content -->
  <div class="cbp mb-7"
        data-controls="#cubeFilter"
        data-animation="quicksand"
        data-x-gap="16"
        data-y-gap="16"
        data-load-more-selector="#cubeLoadMore"
        data-load-more-action="auto"
        data-load-items-amount="2"
        data-media-queries='[
          {"width": 1500, "cols": 4},
          {"width": 1100, "cols": 4},
          {"width": 800, "cols": 3},
          {"width": 480, "cols": 2},
          {"width": 300, "cols": 1}
        ]'>
    <!-- Item -->
    <div class="cbp-item rounded abstract">
      <div class="cbp-caption">
        <a class="cbp-lightbox u-media-viewer" href="{% static "assets/img/1920x1920/img2.jpg" %}" data-title="Dashboard<br>by Paul Flavius">
          <img src="{% static "assets/img/500x700/img1.jpg" %}" alt="Image Description">
          <span class="u-media-viewer__container">
            <span class="u-media-viewer__icon">
              <span class="fas fa-plus u-media-viewer__icon-inner"></span>
            </span>
          </span>
        </a>
      </div>
    </div>
    <!-- End Item -->

    <!-- Item -->
    <div class="cbp-item rounded branding">
      <div class="cbp-caption">
        <a class="cbp-lightbox u-media-viewer" href="{% static "assets/img/1920x1080/img9.jpg" %}" data-title="World Clock<br>by Alex">
          <img src="{% static "assets/img/480x320/img1.jpg" %}" alt="Image Description">
          <span class="u-media-viewer__container">
            <span class="u-media-viewer__icon">
              <span class="fas fa-plus u-media-viewer__icon-inner"></span>
            </span>
          </span>
        </a>
      </div>
    </div>
    <!-- End Item -->

    <!-- Item -->
    <div class="cbp-item rounded abstract">
      <div class="cbp-caption">
        <a class="cbp-lightbox u-media-viewer" href="{% static "assets/img/1920x1920/img10.jpg" %}" data-title="To-Do Dashboard<br>by Tiberiu Neamu">
          <img src="{% static "assets/img/500x700/img5.jpg" %}" alt="Image Description">
          <span class="u-media-viewer__container">
            <span class="u-media-viewer__icon">
              <span class="fas fa-plus u-media-viewer__icon-inner"></span>
            </span>
          </span>
        </a>
      </div>
    </div>
    <!-- End Item -->

    <!-- Item -->
    <div class="cbp-item rounded branding">
      <div class="cbp-caption">
        <a class="cbp-lightbox u-media-viewer" href="{% static "assets/img/1920x1920/img4.jpg" %}" data-title="Events and  More<br>by Tiberiu Neamu">
          <img src="{% static "assets/img/450x450/img7.jpg" %}" alt="Image Description">
          <span class="u-media-viewer__container">
            <span class="u-media-viewer__icon">
              <span class="fas fa-plus u-media-viewer__icon-inner"></span>
            </span>
          </span>
        </a>
      </div>
    </div>
    <!-- End Item -->

    <!-- Item -->
    <div class="cbp-item rounded abstract branding">
      <div class="cbp-caption">
        <a class="cbp-lightbox u-media-viewer" href="{% static "assets/img/1920x1080/img10.jpg" %}" data-title="Ski * Buddy<br>by Tiberiu Neamu">
          <img src="{% static "assets/img/480x320/img2.jpg" %}" alt="Image Description">
          <span class="u-media-viewer__container">
            <span class="u-media-viewer__icon">
              <span class="fas fa-plus u-media-viewer__icon-inner"></span>
            </span>
          </span>
        </a>
      </div>
    </div>
    <!-- End Item -->
  </div>
  <!-- End Content -->

  <!-- Load More Button -->
  <div id="cubeLoadMore" class="text-center">
    <a href="{% static "assets/ajax/home-portfolio-business-1/load-more.html" %}" class="cbp-l-loadMore-link link" rel="nofollow">
      <span class="cbp-l-loadMore-defaultText">
        Load More
        <span class="link__icon ml-1">
          <span class="link__icon-inner">+</span>
        </span>
      </span>
      <span class="cbp-l-loadMore-loadingText">Loading...</span>
      <span class="cbp-l-loadMore-noMoreLoading">All pictures loaded</span>
    </a>
  </div>
  <!-- End Load More Button -->
</div>
<!-- End Cubeportfolio Section -->

<!-- Team Section -->
<div class="text-center">
  <span class="btn btn-xs btn-soft-success btn-pill mb-2">Meet the squad</span>
</div>
<div class="container">
<div class="row mx-n2">
  <div class="col-sm-6 col-lg-3 px-2 mb-3">
    <!-- Team -->
    <div class="card shadow transition-3d-hover p-4">
      <div class="u-lg-avatar mb-4">
        <img class="img-fluid rounded-circle" src="{% static "assets/img/100x100/img1.jpg" %}" alt="Image Description">
      </div>

      <small class="d-block text-secondary text-uppercase mb-1">Founder / CEO</small>
      <h4 class="h5 text-lh-sm">Maria Muszynska</h4>
      <p class="font-size-1">I am an ambitious workaholic, but apart from that, pretty simple person.</p>

      <!-- Social Networks -->
      <ul class="list-inline mb-0">
        <li class="list-inline-item">
          <a class="btn btn-sm btn-icon btn-soft-secondary rounded" href="#">
            <span class="fab fa-facebook-f btn-icon__inner"></span>
          </a>
        </li>
        <li class="list-inline-item">
          <a class="btn btn-sm btn-icon btn-soft-secondary rounded" href="#">
            <span class="fab fa-google btn-icon__inner"></span>
          </a>
        </li>
        <li class="list-inline-item">
          <a class="btn btn-sm btn-icon btn-soft-secondary rounded" href="#">
            <span class="fab fa-twitter btn-icon__inner"></span>
          </a>
        </li>
      </ul>
      <!-- End Social Networks -->
    </div>
    <!-- End Team -->
  </div>

  <div class="col-sm-6 col-lg-3 px-2 mb-3">
    <!-- Team -->
    <div class="card shadow transition-3d-hover p-4">
      <div class="u-lg-avatar mb-4">
        <img class="img-fluid rounded-circle" src="{% static "assets/img/100x100/img3.jpg" %}" alt="Image Description">
      </div>

      <small class="d-block text-secondary text-uppercase mb-1">Project Manager</small>
      <h4 class="h5 text-lh-sm">Jack Wayley</h4>
      <p class="font-size-1">I am an ambitious workaholic, but apart from that, pretty simple person.</p>

      <!-- Social Networks -->
      <ul class="list-inline mb-0">
        <li class="list-inline-item">
          <a class="btn btn-sm btn-icon btn-soft-secondary rounded" href="#">
            <span class="fab fa-facebook-f btn-icon__inner"></span>
          </a>
        </li>
        <li class="list-inline-item">
          <a class="btn btn-sm btn-icon btn-soft-secondary rounded" href="#">
            <span class="fab fa-google btn-icon__inner"></span>
          </a>
        </li>
        <li class="list-inline-item">
          <a class="btn btn-sm btn-icon btn-soft-secondary rounded" href="#">
            <span class="fab fa-twitter btn-icon__inner"></span>
          </a>
        </li>
      </ul>
      <!-- End Social Networks -->
    </div>
    <!-- End Team -->
  </div>

  <div class="col-sm-6 col-lg-3 px-2 mb-3 mb-sm-0">
    <!-- Team -->
    <div class="card shadow transition-3d-hover p-4">
      <div class="u-lg-avatar mb-4">
        <img class="img-fluid rounded-circle" src="{% static "assets/img/100x100/img11.jpg" %}" alt="Image Description">
      </div>

      <small class="d-block text-secondary text-uppercase mb-1">Product Designer</small>
      <h4 class="h5 text-lh-sm">Emmely Jackson</h4>
      <p class="font-size-1">I am an ambitious workaholic, but apart from that, pretty simple person.</p>

      <!-- Social Networks -->
      <ul class="list-inline mb-0">
        <li class="list-inline-item">
          <a class="btn btn-sm btn-icon btn-soft-secondary rounded" href="#">
            <span class="fab fa-facebook-f btn-icon__inner"></span>
          </a>
        </li>
        <li class="list-inline-item">
          <a class="btn btn-sm btn-icon btn-soft-secondary rounded" href="#">
            <span class="fab fa-google btn-icon__inner"></span>
          </a>
        </li>
        <li class="list-inline-item">
          <a class="btn btn-sm btn-icon btn-soft-secondary rounded" href="#">
            <span class="fab fa-twitter btn-icon__inner"></span>
          </a>
        </li>
      </ul>
      <!-- End Social Networks -->
    </div>
    <!-- End Team -->
  </div>

  <div class="col-sm-6 col-lg-3 px-2">

  </div>
</div>
</div>
<!-- End Team Section -->

{% endblock body %}




{% block scripts %}
<!-- PUT JS LINKS IN HERE -->
<script type="text/javascript" src="{% static 'js/jquery-3.5.0.min.js' %}"></script>


<script type="text/javascript">


function sendUploadRequest(playlistName) {
  var playlistName = playlistName
  console.log(playlistName)



  $.ajax({
    type: 'POST',
    url: '/exportPlaylist/',
    data: {
      csrfmiddlewaretoken: "{{ csrf_token }}",
    }


  })

}

</script>





{% endblock scripts %}
