{% extends "front.html" %}

{% load static %}


{% block links %}
<!-- PUT ANY CSS LINKS IN HERE -->
{% endblock links %}



{% block body %}
<!-- PUT YOUR BODY IN HERE -->

<div class="container">

  <h1>Create your Playlists!</h1>

  <form action="/playlists/" method="post">
    {% csrf_token %}
    <input type="text" name="playlist-name" placeholder="Enter playlist name ">
    <button type="submit" name="create-playlist">Create</button>
  </form>

</div>


{% endblock body %}




{% block scripts %}
<!-- PUT JS LINKS IN HERE -->
{% endblock scripts %}
