{% extends "front.html" %}

{% load static %}


{% block links %}
<!-- PUT ANY CSS LINKS IN HERE -->
{% endblock links %}



{% block body %}
<!-- PUT YOUR BODY IN HERE -->

<div class="container">
  <h2>Current Playlists</h2>
  <div class="row">
    <div class="col">
      <h3>Playlist Name</h3>
    </div>
</div>
<ul class="list-group" style="max-height:75vh; overflow:scroll">
{% for playlist in playlists %}
  <li class="list-group-item">
    <div class="row">
      <div class="col">
        {{ playlist.playlist_name}}
      </div>
    </div>
  </li>
{% endfor %}
</ul>

  <h2>Create New Playlist</h2>

  <form action="/playlists/" method="post">
    {% csrf_token %}
    <input type="text" name="playlist-name" placeholder="Enter playlist name ">
    <button type="submit" name="create-playlist">Create</button>
  </form>

</div>


{% endblock body %}




{% block scripts %}
<!-- PUT JS LINKS IN HERE -->
{% endblock scripts %}
