{% extends "front.html" %}

{% load static %}
<link rel="stylesheet" href="{% static "css/main.css" %}">
{% block links %}
<!-- PUT ANY CSS LINKS IN HERE -->

{% endblock links %}


{% block body %}

<body style="background-color: black;">


<!-- PUT YOUR HOME IN HERE -->


  <div class="container">

    <div class="header">

      <img src="">
      <h1 style="color: #5C2C92;">@BudUpMusic</h1>
      <p style="color: #B3B4B5;">What are you listening to during quarantine?</p>


    </div>

  <!-- PUT YOUR Top 5 Songs IN HERE -->
  <div class="row">
    <div class="col-sm">
      <h3 style="color: #56BC66;">Top 5 Songs</h3>

      <ol class="steps list-group" style="max-height:75vh; overflow:scroll">
        {% for track in searchResults.items %}

        <li>
          <div class="row d-flex flex-wrap align-items-center">
            <div class="col-1 ml-1">
              </div>
            <div class="col-2 col-lg-1 album-pic">
              <img src="{{ track.album.images.2.url }}" width="90" height="90" alt="">
            </div>
            <div class="col-7 col-lg-9">
              <div class="row">
                <div class="col-12 ml-6">
                  <a style="color: white">{{ track.name }}</a>

                </div>
                <div class="col-12 ml-6">
                  <p>{{ track.artists.0.name }}</p>
                </div>
              </div>
            </div>

        </li>
        {% endfor %}


      </ol>

    </div>

  <div class="container">
    <a href="/artists/" style="color: #56BC66" class="btn-artist" id="right-button"> Top 5 Artists </a>

  </div>



  </div>

  </body>
  {% endblock body %}




  {% block scripts %}
  <!-- PUT JS LINKS IN HERE -->
  {% endblock scripts %}
