{% extends "front.html" %}

{% load static %}
<link rel="stylesheet" href="{% static "css/main.css" %}">
{% block links %}
<!-- PUT ANY CSS LINKS IN HERE -->

{% endblock links %}


{% block body %}

<body style="background-color: black;">


<!-- PUT YOUR HOME IN HERE -->


  <div class="container">

    <div class="header">

      <img src="">
      <h1 style="color: #5C2C92;">@BudUpMusic</h1>
      <p style="color: #B3B4B5;">What are you listening to during quarantine?</p>


    </div>

  <!-- PUT YOUR Top 5 Songs IN HERE -->

  <div class="row">
    <div class="col-sm">
      <h3 style="color: #56BC66;">Top 5 Artists</h3>

      <ol class="steps list-group" style="max-height:75vh; overflow:scroll">
        {% for artist in artists.items %}


        <li>
        <div class="row d-flex flex-wrap align-items-center">
          <div class="col-1 ml-1">
            </div>
          <div class="col-2 col-lg-1 album-pic">
            <img src="{{ artist.images.2.url }}" width="90" height="90" alt="">
          </div>
          <div class="col-8 col-lg-9">
            <div class="row">
              <div class="col ml-6">
                <p>{{ artist.name }}</p>
              </div>
            </div>
          </div>

      </li>
      {% endfor %}


      </ol>

    </div>




  </div>
  <div class="container">
    <form id="topSongForm" action="/songs/" method="post">
      {% csrf_token %}
      <input type="hidden" name="token" value="{{ token }}">
      <a href="#" class="btn-artist" style="float:right; color: #56BC66;" id="topSongButton" onclick="document.getElementById('topSongForm').submit();"> Top 5 Songs </a>
    </form>
  </div>



  </div>

  </body>
  {% endblock body %}




  {% block scripts %}
  <!-- PUT JS LINKS IN HERE -->
  {% endblock scripts %}
