{% extends "front.html" %}
  
{% load static %}
<link rel="stylesheet" href="{% static "assets/css/main.css %}>
{% block links %}
<!-- PUT ANY CSS LINKS IN HERE -->

{% endblock links %}


{% block body %}

<body style="background-color: black;">


<!-- PUT YOUR HOME IN HERE -->


  <div class="container">

    <div class="header">
     
      <img src="">
      <h1 style="color: #5C2C92;">@BudUpMusic</h1>
      <p style="color: #B3B4B5;">What are you listening to during quarantine?</p>
        
   
    </div>

  <!-- PUT YOUR Top 5 Songs IN HERE -->

  <div class="row">
    <div class="col-sm">
      <h3 style="color: #56BC66;">Top 5 Artists</h3>

      <ul class="list-group" style="max-height:75vh; overflow:scroll">
        {% for artist in artists.items %}


        <li class="list-group-item">
        <div class="row d-flex flex-wrap align-items-center">
          <div class="col-2 col-lg-1 album-pic">
            <img src="{{ artist.images.2.url }}" width="80" height="75" alt="">
          </div>
          <div class="col-8 col-lg-9">
            <div class="row">
              <div class="col ml-6">
                <p>{{ artist.name }}</p>
              </div>
            </div>
          </div>

      </li>
      {% endfor %}


      </ul>

    </div>




  </div>
  <div class="container">
    <a href="#" class="btn-artist" id="right-button" href="right-but"> Top 5 Songs </button>

  </div>
  


  </div>
  {% endblock body %}


</body>

  {% block scripts %}
  <!-- PUT JS LINKS IN HERE -->
  {% endblock scripts %}
