{% extends "front.html" %}

{% load static %}

{% block links %}
<!-- PUT ANY CSS LINKS IN HERE -->
<link rel="stylesheet" href="{% static "css/main.css" %}">
{% endblock links %}


{% block body %}

<body style="background-color: black;">


<!-- PUT YOUR HOME IN HERE -->


  <div class="container">

    <div class="header">
      <div class="row">
        <div class="container">
          <img src="{% static "images/budupmusicLogo.png" %}" alt="logo" style="width:60px;height:60px;">
          <h2 style="color: #5C2C92; float:right;">@BudUpMusic</h2>
        </div>

      </div>


      <p style="color: #B3B4B5;">What are you listening to during quarantine?</p>




    </div>

  <!-- PUT YOUR Top 5 Songs IN HERE -->

  <div class="row">
    <div class="col-sm">
      <h3 style="color: #56BC66;">Top 5 Songs</h3>

      <ol class="steps list-group">
        {% for track in searchResults.items %}
        <li>
          <div class="row d-flex flex-wrap align-items-center">
            <div class="col-1 ml-1">
              </div>
          <div class="col-1 ml-1">
            </div>

            <div class="col-2 col-lg-1 album-pic">
                <img src="{{ track.album.images.2.url }}" width="90" height="90" alt="">
            </div>

            <div class="col-7 col-lg-9">
              <div class="row">
                <div class="col-12 ml-6">
                  <a style="color: white">{{ track.name }}</a>
                </div>

                <div class="col-12 ml-6">
                  <p>{{ track.artists.0.name }}</p>
                </div>
              </div>
            </div>

        </li>
        {% endfor %}
      </ol>
    </div>
  </div>
  <div class="container">
    <form id="extractForm" action="/extractPlaylist/" method="post">
      {% csrf_token %}
      <input type="hidden" name="token" value="{{ token }}">
      <a href="#" id="extractPlaylistButton" onclick="document.getElementById('extractForm').submit();" style="float:left; color: #B3B4B5;">Extract Playlist</a>
    </form>
    <form id="topArtistForm" action="/artists/" method="post">
      {% csrf_token %}
      <input type="hidden" name="token" value="{{ token }}">
      <a href="#" class="btn-artist" style="float:right; color: #56BC66;" id="topArtistButton" onclick="document.getElementById('topArtistForm').submit();"> Top 5 Artists </a>
    </form>

  </div>
  </div>
  </body>
  {% endblock body %}




  {% block scripts %}
  <!-- PUT JS LINKS IN HERE -->
  <script type="text/javascript">
    window.onload=()=> {
      console.log("Hello WOrld")
      console.log('{{ token }}')
      localStorage.setItem('token','{{ token }}')
    }

    // $('#extractPlaylistButton').click((event) => {
    //   event.preventDefault();
    //   console.log('clicked extract playlist');
    //   $.ajax({
    //     type: 'GET',
    //     url: '/extractPlaylist/',
    //     data: {
    //       csrfmiddlewaretoken: "{{ csrf_token }}",
    //       token: localStorage.getItem('token')
    //     },
    //     success : () => {
    //       console.log('SUCCESS');
    //       window.location.href = '/extractPlaylist'
    //     }
    //   })
    // })

  </script>
  {% endblock scripts %}
