{% extends "front.html" %}

{% load static %}


{% block links %}
<!-- PUT ANY CSS LINKS IN HERE -->
{% endblock links %}



{% block body %}
<!-- PUT YOUR BODY IN HERE -->
<div class="container">

  <div class="header">
    <h1>BudUp Music</h1>
    <p>What are you listening to?</p>

  </div>


<div class="row">
  <div class="col ml 3">
    <h3>Top 5 Songs</h3>

    <ul class="list-group" style="max-height:75vh; overflow:scroll">
      {% for track in searchResults.items %}


      <li class="list-group-item">
        <div class="row d-flex flex-wrap align-items-center">
          <div class="col-2 col-lg-1 album-pic">
            <img src="{{ track.album.images.2.url }}" width="60" height="60" alt="">
          </div>
          <div class="col-7 col-lg-9">
            <div class="row">
              <div class="col-12 ml-6">
                {{ track.name }}
              </div>
              <div class="col-12 ml-6">
                <p>{{ track.artists.0.name }}</p>
              </div>
            </div>
          </div>

      </li>
      {% endfor %}


    </ul>

  </div>

  <div class="col">
    <h3>Top 5 Artists</h3>
    <ul class="list-group" style="max-height:75vh; overflow:scroll">
      {% for artist in artists.items %}

      <li class="list-group-item">
        <div class="row d-flex flex-wrap align-items-center">
          <div class="col-2 col-lg-1 album-pic">
            <img src="{{ artist.images.2.url }}" width="54" height="54" alt="">
          </div>
          <div class="col-8 col-lg-9">
            <div class="row">
              <div class="col ml-6">
                <p>{{ artist.name }}</p>
              </div>
            </div>
          </div>

      </li>
      {% endfor %}

    </ul>



</div>


</div>











</div>
{% endblock body %}




{% block scripts %}
<!-- PUT JS LINKS IN HERE -->
{% endblock scripts %}
