{% extends "front.html" %}

{% load static %}


{% block links %}
<!-- PUT ANY CSS LINKS IN HERE -->
{% endblock links %}

{% block body %}
<!-- PUT YOUR BODY IN HERE -->
<!-- Form -->


<div class="container">
  <div class="content-section">
    <form method="POST">
      {% csrf_token %}
      <fieldset class="form-group">
        <legend class="border-bottom mb-4">Join Today</legend>
        {{ form }}
      </fieldset>
      <div class="form-group">
        <button class="btn btn-outline-info" type="submit">Sign Up</button>
      </div>
    </form>
    <div class="border-top pt-3">
      <small class="text-muted">
        Already have an account? <a class="ml-2" href="{% url 'account-login' %}">Sign In</a>
      </small>
    </div>

  </div>

</div>



{% endblock body %}




{% block scripts %}
<!-- PUT JS LINKS IN HERE -->

{% endblock scripts %}
