{% extends "front.html" %}

{% load static %}


{% block links %}
<!-- PUT ANY CSS LINKS IN HERE -->
{% endblock links %}



{% block body %}

<<h1>Search</h1>
<form class="" action="/account/search/" method="post">
  {% csrf_token %}
  <input type="text" name="search" value="">
  <input type="submit" name="" value="Search">

</form>

<ul class="list-group" style="max-height:75vh; overflow:scroll">
  {% for result in searchResults.tracks.items %}
  <li class="list-group-item">
    <div class="row d-flex flex-wrap align-items-center">
      <div class="col-2 col-lg-1 album-pic">
        <img src="{{ result.album.images.2.url }}" alt="">

      </div>
      <div class="col-8 col-lg-9">
        <div class="row">
          <div class="col-12 ml-3">
            <p value="{{ result.name }}">{{ result.name }}</p>
          </div>
          <div class="col-12 ml-3">
            {{ result.artists.0.name }}
          </div>
        </div>
      </div>
      <div class="col-2 col-lg-2">
        <div class="row">
          <div class="col-12">
            <div class="d-flex flex-row-reverse">
              <div class="p-2">
                <i class="fas fa-plus" method="POST" action="playlist-data" data-toggle="modal"
                data-target="#exampleModal" data-trackname="{{ result.name }}"
                data-trackartist="{{ result.artists.0.name }}"
                data-albumname="{{ result.album.name }}"
                data-albumpic="{{ result.album.images.2.url }}"
                data-spotifyurl="{{ result.album.external_urls.spotify }}"></i>
              </div>
            </div>
          </div>
          <div class="col-12">
            <div class="d-flex flex-row-reverse">
              <div class="p-2">
                <a class="track-link text-right text-success" href="{{ result.external_urls.spotify }}">Full Song</a>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </li>
  {% endfor %}
</ul>
{% endblock body %}




{% block scripts %}
<!-- PUT JS LINKS IN HERE -->
{% endblock scripts %}
