{% extends "front.html" %}

{% load static %}


{% block links %}
<!-- PUT ANY CSS LINKS IN HERE -->

{% endblock links %}



{% block body %}
<!-- PUT YOUR BODY IN HERE -->
<!-- User Profile Section -->
<div class="container">
  <div class="border-bottom w-md-75 w-lg-60 space-2 mx-md-auto">
    <div class="media d-block d-sm-flex">
      <div class="u-xl-avatar position-relative mb-3 mb-sm-0 mr-4">
        <img class="img-fluid rounded-circle" src="{% static "assets/img/160x160/img35.jpg" %}" alt="Image Description">
        <img class="bg-white position-absolute bottom-0 right-0 rounded-circle p-1" src="{% static "assets/svg/components/top-vendor.svg" %}" alt="Icon" width="36" height="36" title="Top Writer">
      </div>

      <div class="media-body">
        <div class="d-flex justify-content-between align-items-center">
          <h1 class="h3 font-weight-medium">{{ data.name }}</h1>
          <div class="d-block">
            <a type="button" href="{% url 'createPost' %}" class="btn btn-xs btn-soft-primary font-weight-medium text-nowrap transition-3d-hover ml-1">Create Post</a>
            <a type="button" href="{% url 'editProfile' %}" class="btn btn-icon btn-sm btn-soft-secondary btn-bg-transparent ml-1" data-toggle="tooltip" data-placement="top" title="Edit Profile">
              <small class="far fa-flag" ></small>
            </a>
          </div>
        </div>

        <div class="row text-secondary font-size-1 mb-2">
          <div class="col-auto">
            <span class="h6 font-weight-semi-bold">{{ data.follower }}</span>
            <span>Followers</span>
          </div>
          <div class="col-auto">
            <span class="h6 font-weight-semi-bold">{{ data.following }}</span>
            <span>Following</span>
          </div>
        </div>

        <p class="mb-0">{{ data.description }}</p>
      </div>
    </div>

    <h4>Posts:</h4>
    {% for post in data.posts %}

    <ul class="list-group bg-transparent">
      <li class="list-group-item bg-transparent">
        <div class="row d-flex flex-wrap align-items-center">
          <div class="col-8 col-lg-9">
            <div class="row">
              <div class="col ml-6">
                <a>{{ post.content }}</a>
              </div>
              <div class="col ml-6">
                 <iframe src="{{ post.subject }}" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
              </div>

            </div>
          </div>

      </li>

    </ul>
    {% endfor %}
  </div>
</div>
<!-- End User Profile Section -->

<div class="container">
  <a class="ml-2" href="{% url 'home' %}">Home</a>
  <a class="ml-2" href="{% url 'feed' %}">Feed</a>
  <form class="" action="/" method="post">
    {% csrf_token %}
    <input type="submit" name="" value="Top Songs">
  </form>


</div>






{% endblock body %}




{% block scripts %}
<!-- PUT JS LINKS IN HERE -->

{% endblock scripts %}
