/* Super small screens and below */
@media only screen and (max-width: 330px) {
	.small-custom-nav-item {
		display: none;
	}


}


/* Small screens and below */
@media only screen and (max-width: 575px) {

	.custom-nav-item {
		display: none;
	}


}

.btn-green {
	background-color: #00c55a
}

.btn-purp {
	background-color: #67009a
}



#logo-image {
	height: 30px;
	width: 30px;
	margin: 2px 4px 2px 2px;

}

#header {
	min-height: 80px;
	padding: 10px 20px;
	background-color: #f8f9fa;
}

#navbar {
	height: 60px;
}

#logoAndNav {
}

#logo-text {
	color: black;
	font-weight: bold;
	font-size: 25px;
}

.give-bottom-border {
	border-bottom: 1px solid #e7eaf3;
  	border-bottom-width: 1px;
  	border-bottom-style: solid;
  	border-bottom-color: rgb(231, 234, 243);
}

.no-bottom-border {
	border-bottom: none;
}

.custom-nav-item {
	margin-left: 20px;
}

.black-background {
	background-color: black !important;
	border-color: black !important;
}

.black {
	color: black !important;
}

.steps {
  padding-left: 2%;
}
.steps li {
  margin: 1em 0;

  position: relative;
  counter-increment: inst;
}
.steps li::before {
  content: counter(inst);

  /*background: #5C2C92;
	/*color: #56BC66; */
	color: white;


  font-size: 1em;
  font-weight: 700;
  font-style: italic;
  text-shadow: 1px 1px rgba(255, 150, 0, 0.5);

  border-radius: 0 0.675em 0.675em 0;
  font-size: 2.25em;
  text-align: center;

  padding-top: 0;
  padding-left: 2.25%;
  left: -5%;
  top: -0.65em;
  height: 1.35em;
  width: 1.35em;
  position: absolute;

  transition: all 0.2s ease-in-out;

  z-index: -1;
}
@media (min-width: 33em) {
  .steps li:before {
    border-radius: 50%;
    font-size: 1.5em;
    height: 1.35em;
    margin-left: 2.5%;
    padding-left: 0;
    padding-top: 0;
    top: -0.15em;
    width: 1.35em;
    z-index: -1;
  }
}
